{
  "openapi": "3.0.4",
  "info": {
    "title": "Address Validation",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.experianaperture.io/"
    }
  ],
  "paths": {
    "/address/datasets/v1": {
      "get": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Get the available datasets for the supplied country.",
        "parameters": [
          {
            "name": "Reference-Id",
            "in": "header",
            "description": "Optional identifier that will be returned in the response to help you track the request.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "pattern": "^[\\w\\-\\/\\:\\.\\,\\(\\) ]+$",
              "type": "string"
            }
          },
          {
            "name": "Timeout-Seconds",
            "in": "header",
            "description": "Maximum time you are prepared to wait for a response, expressed in seconds. Acceptable values: 2-15. If a timeout occurs, an HTTP status code of 408 - Request Timeout will be returned.",
            "schema": {
              "maximum": 15,
              "minimum": 2,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "country_iso",
            "in": "query",
            "description": "3-letter ISO code for country.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressDatasetsV1Response"
                },
                "examples": {
                  "Australia": {
                    "value": {"result":[{"country_iso_3":"AUS","country_name":"Australia","datasets":[{"id":"au-address","name":"Australia Postal Address"},{"id":"au-address-beta","name":"Australia Postal Address"},{"id":"au-address-datafusion","name":"Australia Enhanced Address"},{"id":"au-address-gnaf","name":"Australia Geocoded National Address"},{"id":"au-address-gnaf-beta","name":"Australia Geocoded National Address"}]}]}
                  },
                  "United Kingdom": {
                    "value": {"result":[{"country_iso_3":"GBR","country_name":"United Kingdom","datasets":[{"id":"gb-additional-addressbaseislands","name":"United Kingdom AddressBase Premium with Islands"},{"id":"gb-additional-business","name":"United Kingdom Business Names"},{"id":"gb-additional-businessextended","name":"United Kingdom Extended Business"},{"id":"gb-additional-electricity","name":"United Kingdom Live Utilities Data - Electricity"},{"id":"gb-additional-gas","name":"United Kingdom Live Utilities Data - Gas"},{"id":"gb-additional-multipleresidence","name":"United Kingdom Multiple Residence"},{"id":"gb-additional-names","name":"United Kingdom Names"},{"id":"gb-additional-notyetbuilt","name":"United Kingdom Not Yet Built"},{"id":"gb-address","name":"United Kingdom Postal Address"},{"id":"gb-address-addressbase","name":"United Kingdom AddressBase Premium"},{"id":"gb-address-streetlevel","name":"United Kingdom Postal Address Street Level"},{"id":"gb-address-wales","name":"Cymraeg (Welsh Language) Postal Address"}],"valid_combinations":[["gb-additional-business","gb-additional-multipleresidence","gb-additional-notyetbuilt"],["gb-additional-business","gb-additional-names"],["gb-additional-business","gb-additional-names","gb-additional-notyetbuilt"],["gb-additional-business","gb-additional-notyetbuilt"],["gb-additional-multipleresidence","gb-additional-notyetbuilt"],["gb-additional-names","gb-additional-notyetbuilt"]]}]}
                  },
                  "United States": {
                    "value": {"result":[{"country_iso_3":"USA","country_name":"United States of America","datasets":[{"id":"us-address","name":"United States Postal Address"}]}]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "408": {
            "description": "Request Timeout"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "OAuth2": [ ]
          },
          {
            "Auth-Token": [ ]
          },
          {
            "x-app-key": [ ]
          }
        ]
      }
    },
    "/address/format/v1/{global_address_key}": {
      "get": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Format the address with the supplied key.",
        "parameters": [
          {
            "name": "Reference-Id",
            "in": "header",
            "description": "Optional identifier that will be returned in the response to help you track the request.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "pattern": "^[\\w\\-\\/\\:\\.\\,\\(\\) ]+$",
              "type": "string"
            }
          },
          {
            "name": "Timeout-Seconds",
            "in": "header",
            "description": "Maximum time you are prepared to wait for a response, expressed in seconds. Acceptable values: 2-15. If a timeout occurs, an HTTP status code of 408 - Request Timeout will be returned.",
            "schema": {
              "maximum": 15,
              "minimum": 2,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "global_address_key",
            "in": "path",
            "description": "Global address key.",
            "required": true,
            "schema": {
              "maxLength": 4000,
              "minLength": 0,
              "pattern": "^(?:[A-Za-z0-9_-]*)$",
              "type": "string"
            }
          },
          {
            "name": "Add-Components",
            "in": "header",
            "description": "Specifies if the response should contain the address broken down into its components.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "Add-Metadata",
            "in": "header",
            "description": "Specify whether the response should return all fields and values, in addition to the main core information.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "Add-Dpid",
            "in": "header",
            "description": "Specify whether the response should return DPID in the metadata result.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressFormatV1Response"
                },
                "examples": {
                  "Australia": {
                    "value": {"result":{"global_address_key":"QVVTfjcuNzMwak9BVVNIQXpsQndBQUFBQUJBd0VBQUFBQk9uQ09FWUFoQUFJUUNDQUFBQUFBQVFBMk5UUTVBRFlBQVAuLlFnQUFBQUQuLi4uLkFBQUFBQUFBQUFBQUFBQUFBQUFBVENBMk5UUTVJRk4wSUV0cGJHUmhJRkprSURVME9RQUFBQUFBfjIy","confidence":"Verified match","address":{"address_line_1":"L 6  549 St Kilda Rd","address_line_2":"","address_line_3":"","locality":"MELBOURNE","region":"VIC","postal_code":"3004","country":"AUSTRALIA"},"components":{"country_name":"AUSTRALIA","country_iso_3":"AUS","country_iso_2":"AU","postal_code":{"full_name":"3004","primary":"3004"},"sub_building":{"floor":{"full_name":"L 6","type":"L","value":"6"}},"building":{"building_number":"549"},"street":{"full_name":"St Kilda Rd","name":"St Kilda","type":"Rd"},"locality":{"town":{"name":"MELBOURNE"}}}},"metadata":{"address_info":{"identifier":{"dpid":"62147712","hin":"203060068"}},"barcode":{"delivery_point_barcode":"1301012002011121210102312002130231113","sort_plan_number":"022"},"address_classification":{"delivery_type":"Business"}}}
                  },
                  "United Kingdom": {
                    "value": {"result":{"global_address_key":"R0JSfjcuNzMwME9HQlJFd3ZsQndBQUFBQUJBd0VBQUFBQWlPLmgwWUFoTUlJQUFBQUFBQUFBTnprQUFQLi5aQUFBQUFELi4uLi5BQUFBQUFBQUFBQUFBQUFBQUFBQU56a2dVM1JoZEdsdmJpQlNiMkZrTENCTFJVeFVXUUFBQUFBQX4yMg","confidence":"Verified match","address":{"address_line_1":"79 Station Road","address_line_2":"","address_line_3":"","locality":"KELTY","region":"","postal_code":"KY4 0BL","country":"UNITED KINGDOM"},"components":{"country_name":"UNITED KINGDOM","country_iso_3":"GBR","country_iso_2":"GB","postal_code":{"full_name":"KY4 0BL","primary":"KY4 0BL"},"building":{"building_number":"79"},"street":{"full_name":"Station Road","name":"Station","type":"Road"},"locality":{"region":{"name":"Scotland","code":"SCT","description":"Constituent country"},"sub_region":{"name":"Fife","description":"Geographic county"},"town":{"name":"KELTY"}},"additional_elements":{"locality":{"sub_region":{"administrative_county":"North Yorkshire","former_postal_county":"North Yorkshire","traditional_county":"Yorkshire"}}}}},"metadata":{"address_info":{"identifier":{"udprn":"12353232","paf_address_key":"2304084100000000S","dps":"1L"}},"barcode":{"delivery_point_barcode":"(KY40BL2Z2)"}}}
                  },
                  "United Kingdom with Names": {
                    "value": {"result":{"global_address_key":"R0JSfjcuNzMwME9HQlJFd3ZsQndBQUFBQUJBd0VBQUFBQWlPLmgwWUFoTUlJQUFBQUFBQUFBTnprQUFQLi5aQUFBQUFELi4uLi5BQUFBQUFBQUFBQUFBQUFBQUFBQU56a2dVM1JoZEdsdmJpQlNiMkZrTENCTFJVeFVXUUFBQUFBQX4yMg","confidence":"Verified match","address":{"address_line_1":"79 Station Road","address_line_2":"","address_line_3":"","locality":"KELTY","region":"","postal_code":"KY4 0BL","country":"UNITED KINGDOM"},"names":[{"firstname":"John","middlename":"James","surname":"Dow"}],"components":{"country_name":"UNITED KINGDOM","country_iso_3":"GBR","country_iso_2":"GB","postal_code":{"full_name":"KY4 0BL","primary":"KY4 0BL"},"building":{"building_number":"79"},"street":{"full_name":"Station Road","name":"Station","type":"Road"},"locality":{"region":{"name":"Scotland","code":"SCT","description":"Constituent country"},"sub_region":{"name":"Fife","description":"Geographic county"},"town":{"name":"KELTY"}},"additional_elements":{"locality":{"sub_region":{"administrative_county":"North Yorkshire","former_postal_county":"North Yorkshire","traditional_county":"Yorkshire"}}}}},"metadata":{"address_info":{"identifier":{"udprn":"12353232","paf_address_key":"2304084100000000S","dps":"2S"}},"barcode":{"delivery_point_barcode":"(KY40BL2Z2)"}}}
                  },
                  "United States": {
                    "value": {"result":{"global_address_key":"VVNBfjcuNzMwck9VU0FEd25sQndBQUFBQUJBZ0VBQUFBRHB4MzJFWUFoSUFJU0NDQUFBQUFBQUFBM053QUEuLjlrQUFBQUFQLi4uLjhBQUFBQUFBQUFBQUFBQUFBQUFBQTNOeUJOWVhOellXTm9kWE5sZEhSeklFRjJaU3d3TWpFek9TMDBNekF4QUFBQUFBQS1-MzE","confidence":"Verified match","address":{"address_line_1":"77 Massachusetts Ave","address_line_2":"","address_line_3":"","locality":"Cambridge","region":"MA","postal_code":"02139-4301","country":"UNITED STATES OF AMERICA"},"components":{"country_name":"UNITED STATES OF AMERICA","country_iso_3":"USA","country_iso_2":"US","postal_code":{"full_name":"02139-4301","primary":"02139","secondary":"4301"},"building":{"building_number":"77"},"street":{"full_name":"Massachusetts Ave","name":"Massachusetts","type":"Ave"},"locality":{"region":{"code":"MA"},"sub_region":{"name":"Middlesex"},"town":{"name":"Cambridge"}}}},"metadata":{"barcode":{"delivery_point_barcode":"02139430177","check_digit":"3"},"route_classification":{"carrier_route":"C077","elot":"0184A"},"address_classification":{"address_type":{"code":"S","description":"Street"},"delivery_type":"Business","is_deliverable":"Y"},"dpv":{"cmra_indicator":"N","seed_indicator":" ","dpv_indicator":"Y","footnotes":["AA","BB"],"vacancy_indicator":"N","no_stats_indicator":"Y","pbsa_indicator":"N","lacs_indicator":" ","lacs_code":""}}}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "408": {
            "description": "Request Timeout"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "OAuth2": [ ]
          },
          {
            "Auth-Token": [ ]
          },
          {
            "x-app-key": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Format the address with the supplied key using a custom layout.",
        "parameters": [
          {
            "name": "Reference-Id",
            "in": "header",
            "description": "Optional identifier that will be returned in the response to help you track the request.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "pattern": "^[\\w\\-\\/\\:\\.\\,\\(\\) ]+$",
              "type": "string"
            }
          },
          {
            "name": "Timeout-Seconds",
            "in": "header",
            "description": "Maximum time you are prepared to wait for a response, expressed in seconds. Acceptable values: 2-15. If a timeout occurs, an HTTP status code of 408 - Request Timeout will be returned.",
            "schema": {
              "maximum": 15,
              "minimum": 2,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "global_address_key",
            "in": "path",
            "description": "Global address key.",
            "required": true,
            "schema": {
              "maxLength": 4000,
              "minLength": 0,
              "pattern": "^(?:[A-Za-z0-9_-]*)$",
              "type": "string"
            }
          },
          {
            "name": "Add-Components",
            "in": "header",
            "description": "Specifies if the response should contain the address broken down into its components.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "Add-Metadata",
            "in": "header",
            "description": "Specify whether the response should return all fields and values, in addition to the main core information.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "Add-Enrichment",
            "in": "header",
            "description": "Specify whether the response should make a call to enrichment and return enrichment result.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "Add-Dpid",
            "in": "header",
            "description": "Specify whether the response should return DPID in the metadata result.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressFormatV1Request"
              },
              "examples": {
                "Default Format": {
                  "value": {"layouts":["default"],"layout_format":"default"}
                },
                "Default Format With Enrichment": {
                  "value": {"layouts":["default"],"layout_format":"default","attributes":{"geocodes":["latitude","longitude","match_level"]}}
                },
                "United Kingdom Business With Enrichment": {
                  "value": {"layout_format":"default","attributes":{"gbr_business":["commercial_mosaic","location","non_limited_company_key","number_of_employees","phone","registration","standard_industry_classification","urn"]}}
                },
                "United Kingdom With Mosaic": {
                  "value": {"layout_format":"default","attributes":{"gbr_mosaic":["household","postal_code"]}}
                },
                "United Kingdom With Location Grid": {
                  "value": {"layout_format":"default","attributes":{"gbr_location_grid":["postzon","codepoint"]}}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressFormatV1Response"
                },
                "examples": {
                  "Australia": {
                    "value": {"result":{"global_address_key":"aWQ9TGV2ZWwgNiAgNTQ5IFN0IEtpbGRhIFJvYWQsIE1FTEJPVVJORSAgVklDIDMwMDQsIEF1c3RyYWxpYX5hbHRfa2V5PTYyMTQ3NzEyfmRhdGFzZXQ9QVVTX1BBRn5mb3JtYXRfa2V5PUFVUyRhdS1hZGRyZXNzJDcuNzMwMU9BVVNIQXZtQndBQUFBQUlBZ0VBQUFBQlBlTlNFQWdoQUFJQUFBQUFBQUFBTmdBQS4uOWRBQUFBQVAuLi4uOEFBQUFBQUFBQUFBQUFBQUFBQUFCTUlEWWdJRFUwT1NCVGRDQkxhV3hrWVNCU1pBQUFBQUFBJCQk","confidence":"Verified match","address":{"address_line_1":"L 6  549 St Kilda Rd","address_line_2":"","address_line_3":"","locality":"MELBOURNE","region":"VIC","postal_code":"3004","country":"AUSTRALIA"},"components":{"country_name":"AUSTRALIA","country_iso_3":"AUS","country_iso_2":"AU","postal_code":{"full_name":"3004","primary":"3004"},"sub_building":{"floor":{"full_name":"L 6","type":"L","value":"6"}},"building":{"building_number":"549"},"street":{"full_name":"St Kilda Rd","name":"St Kilda","type":"Rd"},"locality":{"town":{"name":"MELBOURNE"}}}},"metadata":{"address_info":{"identifier":{"dpid":"62147712","hin":"203060068"}},"barcode":{"delivery_point_barcode":"1301012002011121210102312002130231113","sort_plan_number":"022"},"address_classification":{"delivery_type":"Business"}}}
                  },
                  "Australia With Enrichment": {
                    "value": {"result":{"global_address_key":"aWQ9TGV2ZWwgNiAgNTQ5IFN0IEtpbGRhIFJvYWQsIE1FTEJPVVJORSAgVklDIDMwMDQsIEF1c3RyYWxpYX5hbHRfa2V5PTYyMTQ3NzEyfmRhdGFzZXQ9QVVTX1BBRn5mb3JtYXRfa2V5PUFVUyRhdS1hZGRyZXNzJDcuNzMwMU9BVVNIQXZtQndBQUFBQUlBZ0VBQUFBQlBlTlNFQWdoQUFJQUFBQUFBQUFBTmdBQS4uOWRBQUFBQVAuLi4uOEFBQUFBQUFBQUFBQUFBQUFBQUFCTUlEWWdJRFUwT1NCVGRDQkxhV3hrWVNCU1pBQUFBQUFBJCQk","confidence":"Verified match","address":{"address_line_1":"L 6  549 St Kilda Rd","address_line_2":"","address_line_3":"","locality":"MELBOURNE","region":"VIC","postal_code":"3004","country":"AUSTRALIA"},"components":{"country_name":"AUSTRALIA","country_iso_3":"AUS","country_iso_2":"AU","postal_code":{"full_name":"3004","primary":"3004"},"sub_building":{"floor":{"full_name":"L 6","type":"L","value":"6"}},"building":{"building_number":"549"},"street":{"full_name":"St Kilda Rd","name":"St Kilda","type":"Rd"},"locality":{"town":{"name":"MELBOURNE"}}}},"metadata":{"address_info":{"identifier":{"dpid":"62147712","hin":"203060068"}},"barcode":{"delivery_point_barcode":"1301012002011121210102312002130231113","sort_plan_number":"022"},"address_classification":{"delivery_type":"Business"}},"enrichment":{"transaction_id":"23918140-4df9-4862-aaca-db81dd757c52","result":{"geocodes":{"latitude":-37.84659,"longitude":144.98028,"match_level":"building"}},"metadata":{"code":"S200","message":"Success","detail":"All requested attribute(s) retrieved.","datasets":{"geocodes":{"latitude":{"code":"S200","message":"Match","value":"-37.84659"},"longitude":{"code":"S200","message":"Match","value":"144.98028"},"match_level":{"code":"S200","message":"Match","value":"building"}}}}}}
                  },
                  "United Kingdom": {
                    "value": {"result":{"global_address_key":"aWQ9RmxhdCAxLCAyMSBBYmVyZGVlbiBXYWxrLCBTY2FyYm9yb3VnaCwgWU8xMSAxQkEsIFVuaXRlZCBLaW5nZG9tfmFsdF9rZXk9NTQ0Nzc3OTh-ZGF0YXNldD1HQlJfUEFGfmZvcm1hdF9rZXk9R0JSJGdiLWFkZHJlc3MkNmFmZWFhMWMtNTZkYS00YzA4LThmZTQtYTNkOTlhYWI5MTI0JDIxJCQ","confidence":"Verified match","address":{"address_line_1":"Flat 1","address_line_2":"21 Aberdeen Walk","address_line_3":"","locality":"SCARBOROUGH","region":"","postal_code":"YO11 1BA","country":"UNITED KINGDOM"},"components":{"country_name":"UNITED KINGDOM","country_iso_3":"GBR","country_iso_2":"GB","postal_code":{"full_name":"YO11 1BA","primary":"YO11 1BA"},"sub_building":{"door":{"full_name":"Flat 1"}},"building":{"building_number":"21"},"street":{"full_name":"Aberdeen Walk","name":"Aberdeen","type":"Walk"},"locality":{"region":{"name":"Scotland","code":"SCT","description":"Constituent country"},"sub_region":{"name":"Fife","description":"Geographic county"},"town":{"name":"Scarborough"}},"additional_elements":{"locality":{"sub_region":{"administrative_county":"North Yorkshire","former_postal_county":"North Yorkshire","traditional_county":"Yorkshire"}}}}},"metadata":{"address_info":{"identifier":{"udprn":"54477798","paf_address_key":"3890873300000000S","dps":"1A"}},"address_classification":{"delivery_type":"residential"}}}
                  },
                  "United Kingdom With Utilities": {
                    "value": {"result":{"global_address_key":"aWQ9MSBTdXNzZXggQ2xvc2UsIEJPVVJORU1PVVRIIEJIOSAzU0EsIFVuaXRlZCBLaW5nZG9tfmFsdF9rZXk9MDE4MjcxNzN-ZGF0YXNldD1HQlJ-Zm9ybWF0X2tleT1HQlIkR0JSJDcuNzMwZU9HQlJFd2ZvQndBQUFBQUJBd0VBQUFBQVpOSElrWUFnQUFBQUFBQUFNUUFBLi45a0FBQUFBUC4uLi44QUFBQUFBQUFBQUFBQUFBQUFBQUF4SUZOMWMzTmxlQ0JEYkc5elpRQUFBQUFBfmVsZWM9dHJ1ZX5nYXM9dHJ1ZX5wb3M9MX5nYWtfdHlwZT1zaW5nbGVsaW5lflFMPTE0fm1heF9zdWdnZXN0aW9ucz03","confidence":"Verified match","addresses_formatted":[{"layout_name":"Utilities","address":{"address_line_1":"1 Sussex Close","address_line_2":"","address_line_3":"","locality":"Bournemouth","region":"","postal_code":"BH9 3SA","country":"United Kingdom","electricity_meters":[{"mpan":"12345678910","uprn":"123456789","address_line_1":"","address_line_2":"","address_line_3":"1","address_line_4":"","address_line_5":"Sussex Close","address_line_6":"","address_line_7":"","address_line_8":"BOURNEMOUTH","address_line_9":"","address_postal_code":"BH9 3SA","trading_status":"T","trading_status_efd":"20040121","profile_class":"01","profile_class_efd":"1234567","meter_timeswitch_class":"123","meter_timeswitch_class_efd":"7654321","line_loss_factor":"100","line_loss_factor_efd":"7654321","standard_settlement_configuration":"0393","standard_settlement_configuration_efd":"7654321","energisation_status":"E","energisation_status_efd":"20040121","gsp_group_id":"_H","gsp_group_efd":"20040121","data_aggregator_mpid":"MANW","data_aggregator_efd":"20040121","data_collector_mpid":"MANW","data_collector_efd":"20040121","supplier_mpid":"","supplier_efd":"","meter_operator_mpid":"","meter_operator_efd":"","measurement_class":"A","measurement_class_efd":"20040121","green_deal_in_effect":"0","smso_mpid":"","smso_efd":"","dcc_service_flag":"","dcc_service_flag_efd":"","ihd_status":"","ihd_status_efd":"","smets_version":"","distributor_mpid":"SOUT","metered_indicator":"","metered_indicator_efd":"","metered_indicator_etd":"20040121","consumer_type":"Domestic","relationship_status_indicator":"None","rmp_state":"O","rmp_efd":"20040121","domestic_consumer_indicator":"T","css_supplier_mpid":"","css_supply_start_date":"","meter_serial_number":"1234567T","meter_install_date":"20040121","meter_type":"N","map_mpid":"SOUT","map_mpid_efd":"20040121","installing_supplier_mpid":"SPOW","energy_direction":"","energy_direction_efd":"","energy_direction_etd":"","connection_type":"","connection_type_efd":"","connection_type_etd":"","esme_id":"","meter_location":"","register_digits":"","rel_address_primary_name":"1","rel_address_secondary_name":"","rel_address_street1":"SUSSEX CLOSE","rel_address_street2":"","rel_address_locality1":"","rel_address_locality2":"","rel_address_town":"BOURNEMOUTH","rel_address_postcode":"BH9 3SA","rel_address_logical_status":"1","rel_address_language":"ENG","rel_address_organisation":"","rel_address_address_type":"DPA","rel_address_confidence_score":"100","rel_address_classification":"RD02","rel_address_latitude":"50.763416","rel_address_longitude":"-1.860534"}],"gas_meters":[{"mprn":"9876543210","uprn":"987654321","rel_address_primary_name":"1","rel_address_secondary_name":"","rel_address_street1":"SUSSEX CLOSE","rel_address_street2":"","rel_address_locality1":"","rel_address_locality2":"","rel_address_town":"BOURNEMOUTH","rel_address_postcode":"BH9 3SA","rel_address_logical_status":"1","rel_address_language":"ENG","rel_address_organisation":"","rel_address_address_type":"DPA","rel_address_confidence_score":"100","rel_address_classification":"RD02","rel_address_latitude":"50.763416","rel_address_longitude":"-1.860534","meter_serial":"G4K0012345678","offtake_quantity_annual":"01234","meter_point_status":"LI","installer_id":"SCT","network_name":"Scotland Gas Networks Plc.","supplier_name":"Scottish Power Energy Retail Limited","last_meter_read_date":"20240517","last_meter_read_type":"E","last_meter_read_value":"01187"}]}}]}}
                  },
                  "United Kingdom With Electricity and MOSAIC HH Elements": {
                    "value": {"result":{"global_address_key":"aWQ9MSBTdXNzZXggQ2xvc2UsIEJPVVJORU1PVVRIIEJIOSAzU0EsIFVuaXRlZCBLaW5nZG9tfmFsdF9rZXk9MDE4MjcxNzN-ZGF0YXNldD1HQlJ-Zm9ybWF0X2tleT1HQlIkR0JSJDcuNzMwZU9HQlJFd2ZvQndBQUFBQUJBd0VBQUFBQVpOSElrWUFnQUFBQUFBQUFNUUFBLi45a0FBQUFBUC4uLi44QUFBQUFBQUFBQUFBQUFBQUFBQUF4SUZOMWMzTmxlQ0JEYkc5elpRQUFBQUFBfmVsZWM9dHJ1ZX5nYXM9dHJ1ZX5wb3M9MX5nYWtfdHlwZT1zaW5nbGVsaW5lflFMPTE0fm1heF9zdWdnZXN0aW9ucz03","confidence":"Verified match","addresses_formatted":[{"layout_name":"ElectricityUtilityMosaicHousehold","address":{"address_line_1":"1 Sussex Close","address_line_2":"","address_line_3":"","locality":"Bournemouth","region":"","postal_code":"BH9 3SA","country":"United Kingdom","mosaic_household_type_code":"32","mosaic_household_type_name":"First-Rung Futures","mosaic_household_group_code":"H","mosaic_household_group_name":"Aspiring Homemakers","electricity_meters":[{"mpan":"12345678910","uprn":"123456789","address_line_1":"","address_line_2":"","address_line_3":"1","address_line_4":"","address_line_5":"Sussex Close","address_line_6":"","address_line_7":"","address_line_8":"BOURNEMOUTH","address_line_9":"","address_postal_code":"BH9 3SA","trading_status":"T","trading_status_efd":"20040121","profile_class":"01","profile_class_efd":"1234567","meter_timeswitch_class":"123","meter_timeswitch_class_efd":"7654321","line_loss_factor":"100","line_loss_factor_efd":"7654321","standard_settlement_configuration":"0393","standard_settlement_configuration_efd":"7654321","energisation_status":"E","energisation_status_efd":"20040121","gsp_group_id":"_H","gsp_group_efd":"20040121","data_aggregator_mpid":"MANW","data_aggregator_efd":"20040121","data_collector_mpid":"MANW","data_collector_efd":"20040121","supplier_mpid":"","supplier_efd":"","meter_operator_mpid":"","meter_operator_efd":"","measurement_class":"A","measurement_class_efd":"20040121","green_deal_in_effect":"0","smso_mpid":"","smso_efd":"","dcc_service_flag":"","dcc_service_flag_efd":"","ihd_status":"","ihd_status_efd":"","smets_version":"","distributor_mpid":"SOUT","metered_indicator":"","metered_indicator_efd":"","metered_indicator_etd":"20040121","consumer_type":"Domestic","relationship_status_indicator":"None","rmp_state":"O","rmp_efd":"20040121","domestic_consumer_indicator":"T","css_supplier_mpid":"","css_supply_start_date":"","meter_serial_number":"1234567T","meter_install_date":"20040121","meter_type":"N","map_mpid":"SOUT","map_mpid_efd":"20040121","installing_supplier_mpid":"SPOW","energy_direction":"","energy_direction_efd":"","energy_direction_etd":"","connection_type":"","connection_type_efd":"","connection_type_etd":"","esme_id":"","meter_location":"","register_digits":"","rel_address_primary_name":"1","rel_address_secondary_name":"","rel_address_street1":"SUSSEX CLOSE","rel_address_street2":"","rel_address_locality1":"","rel_address_locality2":"","rel_address_town":"BOURNEMOUTH","rel_address_postcode":"BH9 3SA","rel_address_logical_status":"1","rel_address_language":"ENG","rel_address_organisation":"","rel_address_address_type":"DPA","rel_address_confidence_score":"100","rel_address_classification":"RD02","rel_address_latitude":"50.763416","rel_address_longitude":"-1.860534"}]}}]}}
                  },
                  "United Kingdom With Enrichment": {
                    "value": {"result":{"global_address_key":"aWQ9RmxhdCAxLCAyMSBBYmVyZGVlbiBXYWxrLCBTY2FyYm9yb3VnaCwgWU8xMSAxQkEsIFVuaXRlZCBLaW5nZG9tfmFsdF9rZXk9NTQ0Nzc3OTh-ZGF0YXNldD1HQlJfUEFGfmZvcm1hdF9rZXk9R0JSJGdiLWFkZHJlc3MkNmFmZWFhMWMtNTZkYS00YzA4LThmZTQtYTNkOTlhYWI5MTI0JDIxJCQ","confidence":"Verified match","address":{"address_line_1":"Flat 1","address_line_2":"21 Aberdeen Walk","address_line_3":"","locality":"SCARBOROUGH","region":"","postal_code":"YO11 1BA","country":"UNITED KINGDOM"},"components":{"country_name":"UNITED KINGDOM","country_iso_3":"GBR","country_iso_2":"GB","postal_code":{"full_name":"YO11 1BA","primary":"YO11 1BA"},"sub_building":{"door":{"full_name":"Flat 1"}},"building":{"building_number":"21"},"street":{"full_name":"Aberdeen Walk","name":"Aberdeen","type":"Walk"},"locality":{"region":{"name":"Scotland","code":"SCT","description":"Constituent country"},"sub_region":{"name":"Fife","description":"Geographic county"},"town":{"name":"Scarborough"}},"additional_elements":{"locality":{"sub_region":{"administrative_county":"North Yorkshire","former_postal_county":"North Yorkshire","traditional_county":"Yorkshire"}}}}},"metadata":{"address_info":{"identifier":{"udprn":"54477798","paf_address_key":"3890873300000000S","dps":"1A"}},"address_classification":{"delivery_type":"residential"}},"enrichment":{"transaction_id":"70ac71c8-bad1-4d7e-9e21-f1405d0647a4","result":{"geocodes":{"latitude":54.2828,"longitude":-0.40269,"match_level":"building"}},"metadata":{"code":"S200","message":"Success","detail":"All requested attribute(s) retrieved.","datasets":{"geocodes":{"latitude":{"code":"S200","message":"Match","value":"54.2828"},"longitude":{"code":"S200","message":"Match","value":"-0.40269"},"match_level":{"code":"S200","message":"Match","value":"building"}}}}}}
                  },
                  "United Kingdom With Business Enrichment": {
                    "value": {"result":{"confidence":"Verified match","address":{"address_line_1":"Example Business","address_line_2":"Business Name","address_line_3":"5-7 Cutler Street","locality":"LONDON","region":"","postal_code":"E1 7DJ","country":"UNITED KINGDOM"},"components":{"country_name":"UNITED KINGDOM","country_iso_3":"GBR","country_iso_2":"GB","postal_code":{"full_name":"KY4 0BL","primary":"KY4 0BL"},"building":{"building_name":"Business Name","building_number":"79"},"street":{"full_name":"Cutler Street","name":"Cutler","type":"Street"},"locality":{"region":{"name":"England","code":"ENG","description":"Constituent country"},"sub_region":{"name":"Greater London","description":"Georgraphic county"},"town":{"name":"KELTY"}}}},"metadata":{"address_info":{"identifier":{"udprn":"12353232","paf_address_key":"2304084100000000S","dps":"1L"}},"barcode":{"delivery_point_barcode":"(KY40BL2Z2)"}},"enrichment":{"transaction_id":"00000000-0000-0000-0000-000000000000","result":{"gbr_business":{"urn":"Tlt00004518123","commercial_mosaic":{"group_type_code":"K41","group_type_description":"Business Boosters","group_code":"K","group_description":"Independent Enterpreneurs"},"registration":"04572604","non_limited_company_key":"04572604","phone":"020 70293777","number_of_employees":"4","standard_industry_classification":{"sic_2007_code":"79.90/9","sic_2007_description":"Other Reservation Service Activities (Not Including Activities Of Tourist Guides)","thomson_code":"79060","thomson_description":"Tour Operators"},"location":{"code":"S","description":"Single location","small_or_home_office":false}}}}}
                  },
                  "United Kingdom with Names": {
                    "value": {"result":{"global_address_key":"aWQ9RmxhdCAxLCAyMSBBYmVyZGVlbiBXYWxrLCBTY2FyYm9yb3VnaCwgWU8xMSAxQkEsIFVuaXRlZCBLaW5nZG9tfmFsdF9rZXk9NTQ0Nzc3OTh-ZGF0YXNldD1HQlJfUEFGfmZvcm1hdF9rZXk9R0JSJGdiLWFkZHJlc3MkNmFmZWFhMWMtNTZkYS00YzA4LThmZTQtYTNkOTlhYWI5MTI0JDIxJCQ","confidence":"Verified match","address":{"address_line_1":"Flat 1","address_line_2":"21 Aberdeen Walk","address_line_3":"","locality":"SCARBOROUGH","region":"","postal_code":"YO11 1BA","country":"UNITED KINGDOM"},"names":[{"firstname":"John","middlename":"James","surname":"Dow"}],"components":{"country_name":"UNITED KINGDOM","country_iso_3":"GBR","country_iso_2":"GB","postal_code":{"full_name":"YO11 1BA","primary":"YO11 1BA"},"sub_building":{"door":{"full_name":"Flat 1"}},"building":{"building_number":"21"},"street":{"full_name":"Aberdeen Walk","name":"Aberdeen","type":"Walk"},"locality":{"region":{"name":"Scotland","code":"SCT","description":"Constituent country"},"sub_region":{"name":"Fife","description":"Geographic county"},"town":{"name":"Scarborough"}},"additional_elements":{"locality":{"sub_region":{"administrative_county":"North Yorkshire","former_postal_county":"North Yorkshire","traditional_county":"Yorkshire"}}}}},"metadata":{"address_info":{"identifier":{"udprn":"54477798","paf_address_key":"3890873300000000S","dps":"1L"}},"address_classification":{"delivery_type":"residential"}}}
                  },
                  "United States": {
                    "value": {"result":{"global_address_key":"aWQ9NzcgTWFzc2FjaHVzZXR0cyBBdmUsIENhbWJyaWRnZSBNQSAwMjEzOSwgVW5pdGVkIFN0YXRlcyBPZiBBbWVyaWNhfmFsdF9rZXk9fDc3IE1hc3NhY2h1c2V0dHMgQXZlfHxDYW1icmlkZ2UsTUEsMDIxMzktNDMwN35kYXRhc2V0PVVTQV9QQUZ-Zm9ybWF0X2tleT1VU0EkdXMtYWRkcmVzcyRkZTZhMDQ2Mi1iYTE0LTQxYTMtOWQ2Ny01YjBhZjRmNGZmZmUkNzckJA","confidence":"Verified match","address":{"address_line_1":"77 Massachusetts Ave","address_line_2":"","address_line_3":"","locality":"Cambridge","region":"MA","postal_code":"02139-4301","country":"UNITED STATES OF AMERICA"},"components":{"country_name":"UNITED STATES OF AMERICA","country_iso_3":"USA","country_iso_2":"US","postal_code":{"full_name":"02139-4301","primary":"02139","secondary":"4301"},"building":{"building_number":"77"},"street":{"full_name":"Massachusetts Ave","name":"Massachusetts","type":"Ave"},"locality":{"region":{"code":"MA"},"sub_region":{"name":"Middlesex"},"town":{"name":"Cambridge"}}}},"metadata":{"barcode":{"delivery_point_barcode":"02139430177","check_digit":"3"},"route_classification":{"carrier_route":"C077","elot":"0184A"},"address_classification":{"address_type":{"code":"S","description":"Street"},"delivery_type":"Business","is_deliverable":"Y"}}}
                  },
                  "United States With Enrichment": {
                    "value": {"result":{"global_address_key":"aWQ9NzcgTWFzc2FjaHVzZXR0cyBBdmUsIENhbWJyaWRnZSBNQSAwMjEzOSwgVW5pdGVkIFN0YXRlcyBPZiBBbWVyaWNhfmFsdF9rZXk9fDc3IE1hc3NhY2h1c2V0dHMgQXZlfHxDYW1icmlkZ2UsTUEsMDIxMzktNDMwN35kYXRhc2V0PVVTQV9QQUZ-Zm9ybWF0X2tleT1VU0EkdXMtYWRkcmVzcyRkZTZhMDQ2Mi1iYTE0LTQxYTMtOWQ2Ny01YjBhZjRmNGZmZmUkNzckJA","confidence":"Verified match","address":{"address_line_1":"77 Massachusetts Ave","address_line_2":"","address_line_3":"","locality":"Cambridge","region":"MA","postal_code":"02139-4301","country":"UNITED STATES OF AMERICA"},"components":{"country_name":"UNITED STATES OF AMERICA","country_iso_3":"USA","country_iso_2":"US","postal_code":{"full_name":"02139-4301","primary":"02139","secondary":"4301"},"building":{"building_number":"77"},"street":{"full_name":"Massachusetts Ave","name":"Massachusetts","type":"Ave"},"locality":{"region":{"code":"MA"},"sub_region":{"name":"Middlesex"},"town":{"name":"Cambridge"}}}},"metadata":{"barcode":{"delivery_point_barcode":"02139430177","check_digit":"3"},"route_classification":{"carrier_route":"C077","elot":"0184A"},"address_classification":{"address_type":{"code":"S","description":"Street"},"delivery_type":"Business","is_deliverable":"Y"}},"enrichment":{"transaction_id":"6d2963bd-f53f-4674-a908-5463cd4ecacc","result":{"geocodes":{"latitude":42.36,"longitude":-71.09221,"match_level":"building"}},"metadata":{"code":"S200","message":"Success","detail":"All requested attribute(s) retrieved.","datasets":{"geocodes":{"latitude":{"code":"S200","message":"Match","value":"42.36"},"longitude":{"code":"S200","message":"Match","value":"-71.09221"},"match_level":{"code":"S200","message":"Match","value":"building"}}}}}}
                  },
                  "Custom Layout - default format": {
                    "value": {"result":{"global_address_key":"XlVTQTcuNzMwb09VU0FEd25sQndBQUFBQUJBd0VBQUFBRHB4MzJFWUFoTVFJVEFDQUFBQUFBQVFCRFlXMWljbWxrWjJVQU56Y0FBUC4uVUFBQUFBRC4uLi4uQUFBQUFBQUFBQUFBQUFBQUFBQUFOemNnVFdGemMyRmphSFZ6WlhSMGN5QkJkbVVzSUVOaGJXSnlhV1JuWlN3Z1RVRWdNREl4TXprdE5ETXdOd0FBQUFBQQ","confidence":"Verified match","addresses_formatted":[{"layout_name":"AMEX","address":{"AmexStreet":"1 Main St","AmexTown":"Surbiton","AmexCountry":"United Kingdom"}}]}}
                  },
                  "Custom Layout - address_lines format": {
                    "value": {"result":{"global_address_key":"XlVTQTcuNzMwb09VU0FEd25sQndBQUFBQUJBd0VBQUFBRHB4MzJFWUFoTVFJVEFDQUFBQUFBQVFCRFlXMWljbWxrWjJVQU56Y0FBUC4uVUFBQUFBRC4uLi4uQUFBQUFBQUFBQUFBQUFBQUFBQUFOemNnVFdGemMyRmphSFZ6WlhSMGN5QkJkbVVzSUVOaGJXSnlhV1JuWlN3Z1RVRWdNREl4TXprdE5ETXdOd0FBQUFBQQ","confidence":"Verified match","addresses_formatted":[{"layout_name":"AMEX","address_lines":[{"label":"AmexStreet","line":"1 Main St","line_content":"address"},{"label":"AmexTown","line":"Surbiton","line_content":"address"},{"label":"AmexCountry","line":"United Kingdom","line_content":"address"}]}]}}
                  },
                  "United Kingdom With Mosaic": {
                    "value": {"result":{"global_address_key":"aWQ9RmxhdCAxLCAxMCBDdWxkdXRoZWwgUm9hZCwgSW52ZXJuZXNzLCBJVjIgNEFHLCBVbml0ZWQgS2luZ2RvbX5hbHRfa2V5PTExNzYxNDMyfmRhdGFzZXQ9R0JSX01SRn5mb3JtYXRfa2V5PUdCUiRnYi1hZGRpdGlvbmFsLW11bHRpcGxlcmVzaWRlbmNlJGRlNmU0MGNiLWVjYjAtNDhjMS1hZDA5LTQ0ZjQ2ZmFkMjYxOSQkJCR-cG9zPTZ-Z2FrX3R5cGU9YXV0b2NvbXBsZXRlfmxvY2FsaXR5PX5wb3N0YWxfY29kZT0","confidence":"Verified match","address":{"address_line_1":"Flat 1","address_line_2":"10 Culduthel Road","address_line_3":"","locality":"INVERNESS","region":"","postal_code":"IV2 4AG","country":"UNITED KINGDOM"},"components":{"language":"en-GB","country_name":"United Kingdom","country_iso_3":"GBR","country_iso_2":"GB","postal_code":{"full_name":"IV2 4AG","primary":"IV2 4AG"},"sub_building":{"door":{"full_name":"Flat 1"}},"building":{"building_number":"10"},"street":{"full_name":"Culduthel Road","name":"Culduthel","type":"Road"},"locality":{"town":{"name":"Inverness"}}}},"metadata":{"address_info":{"number_of_households":"4","identifier":{"umrrn":"52787313","udprn":"11761432","dps":"1L"}}},"enrichment":{"result":{"gbr_mosaic":{"household":{"version":"7","type_code":"60","type":"Ageing Access","group_code":"N","group":"Urban Cohesion"},"postal_code":{"version":"7","type_code":"51","type":"Retirement Communities","group_code":"L","group":"Vintage Value"}}},"metadata":{"code":"S200","message":"Success","detail":"All requested attribute(s) retrieved.","datasets":{"gbr_mosaic":{"household":{"code":"S200","message":"Match","value":"[complex type]"},"postal_code":{"code":"S200","message":"Match","value":"[complex type]"}}}}}}
                  },
                  "United Kingdom With Location Grid": {
                    "value": {"result":{"global_address_key":"aWQ9RmxhdCAxLCAxMCBDdWxkdXRoZWwgUm9hZCwgSW52ZXJuZXNzLCBJVjIgNEFHLCBVbml0ZWQgS2luZ2RvbX5hbHRfa2V5PTExNzYxNDMyfmRhdGFzZXQ9R0JSX01SRn5mb3JtYXRfa2V5PUdCUiRnYi1hZGRpdGlvbmFsLW11bHRpcGxlcmVzaWRlbmNlJGRlNmU0MGNiLWVjYjAtNDhjMS1hZDA5LTQ0ZjQ2ZmFkMjYxOSQkJCR-cG9zPTZ-Z2FrX3R5cGU9YXV0b2NvbXBsZXRlfmxvY2FsaXR5PX5wb3N0YWxfY29kZT0","confidence":"Verified match","address":{"address_line_1":"Flat 1","address_line_2":"10 Culduthel Road","address_line_3":"","locality":"INVERNESS","region":"","postal_code":"IV2 4AG","country":"UNITED KINGDOM"},"components":{"language":"en-GB","country_name":"United Kingdom","country_iso_3":"GBR","country_iso_2":"GB","postal_code":{"full_name":"IV2 4AG","primary":"IV2 4AG"},"sub_building":{"door":{"full_name":"Flat 1"}},"building":{"building_number":"10"},"street":{"full_name":"Culduthel Road","name":"Culduthel","type":"Road"},"locality":{"town":{"name":"Inverness"}}}},"metadata":{"address_info":{"number_of_households":"4","identifier":{"umrrn":"52787313","udprn":"11761432","dps":"1L"}}},"enrichment":{"result":{"gbr_location_grid":{"postzon":{"x_coordinate":2667.0,"y_coordinate":8446.0,"os_x_coordinate":2667.0,"os_y_coordinate":8446.0,"latitude":57.472173,"longitude":-4.224351,"os_landranger":"NH667446"},"codepoint":{"x_coordinate":266748.0,"y_coordinate":844637.0,"pqi":"10","is_delivery_service":"N","ndp":"31","ndp_pqi":"31","ndp_domestic":"28","ndp_commercial":"3","ndp_delivery_service":"0","ndp_matched":"31","ndp_unmatched":"0"}}},"metadata":{"code":"S200","message":"Success","detail":"All requested attribute(s) retrieved.","datasets":{"gbr_location_grid":{"postzon":{"code":"S200","message":"Match","value":"[complex type]"},"codepoint":{"code":"S200","message":"Match","value":"[complex type]"}}}}}}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "408": {
            "description": "Request Timeout"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "OAuth2": [ ]
          },
          {
            "Auth-Token": [ ]
          },
          {
            "x-app-key": [ ]
          }
        ]
      }
    },
    "/address/layouts/v1": {
      "post": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Get the available layouts for the supplied country.",
        "parameters": [
          {
            "name": "Reference-Id",
            "in": "header",
            "description": "Optional identifier that will be returned in the response to help you track the request.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "pattern": "^[\\w\\-\\/\\:\\.\\,\\(\\) ]+$",
              "type": "string"
            }
          },
          {
            "name": "Timeout-Seconds",
            "in": "header",
            "description": "Maximum time you are prepared to wait for a response, expressed in seconds. Acceptable values: 2-15. If a timeout occurs, an HTTP status code of 408 - Request Timeout will be returned.",
            "schema": {
              "maximum": 15,
              "minimum": 2,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressLayoutsV1Request"
              },
              "examples": {
                "Australia": {
                  "value": {"country_iso":"AUS","datasets":["au-address-gnaf"]}
                },
                "United Kingdom": {
                  "value": {"country_iso":"GBR","datasets":["gb-additional-multipleresidence"]}
                },
                "United States": {
                  "value": {"country_iso":"USA","datasets":["us-address"]}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressLayoutsV1Response"
                },
                "examples": {
                  "Australia": {
                    "value": {"result":[{"name":"Default","country_iso_3":"AUS","datasets":["au-address-gnaf"]},{"name":"JB Hifi","country_iso_3":"AUS","datasets":["au-address-gnaf"]},{"name":"JB Hifi_all","country_iso_3":"AUS","datasets":["au-address-gnaf"]}]}
                  },
                  "United Kingdom": {
                    "value": {"result":[{"name":"Default","country_iso_3":"GBR","datasets":["gb-additional-multipleresidence"]},{"name":"Selfridges","country_iso_3":"GBR","datasets":["gb-additional-multipleresidence"]},{"name":"Selfridges_2","country_iso_3":"GBR","datasets":["gb-additional-multipleresidence"]}]}
                  },
                  "United States": {
                    "value": {"result":[{"name":"Default","country_iso_3":"USA","datasets":["us-address"]},{"name":"AMEX_1","country_iso_3":"USA","datasets":["us-address"]},{"name":"AMEX_alternate","country_iso_3":"USA","datasets":["us-address"]}]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "408": {
            "description": "Request Timeout"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "OAuth2": [ ]
          },
          {
            "Auth-Token": [ ]
          },
          {
            "x-app-key": [ ]
          }
        ]
      }
    },
    "/address/layouts/v2": {
      "post": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Creates an address layout.",
        "parameters": [
          {
            "name": "Reference-Id",
            "in": "header",
            "description": "Optional identifier that will be returned in the response to help you track the request.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "pattern": "^[\\w\\-\\/\\:\\.\\,\\(\\) ]+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressLayoutsV2CreateRequest"
              },
              "examples": {
                "United Kingdom with DataPlus": {
                  "value": {"layout":{"name":"United Kingdom with DataPlus","comment":"United Kingdom with DataPlus","applies_to":[{"country_iso":"GBR","datasets":["gb-address"]}],"options":{"variation":1,"flatten_diacritics":false,"enable_enhanced_layout":false,"display_enhanced_info_on_picklist":false,"enable_intelligent_layout":false,"capitalise_unused":false,"separate_elements":true,"element_separator":{"default":", ","configuration_by_element":{"buildingNumber":", ^ ","subBuildingNumber":", ^ ","postcode":" ^ ","deliveryPointSuffix":" ^ ","country":" ^ ","pafAddressKey":"^","pafOrganisationKey":"^"}},"terminate_lines":false,"line_terminator":{"default":", ","configuration_by_element":{"postcode":"^","deliveryPointSuffix":"^","country":".^."}},"pad_lines":false,"multiple_dataplus_delimiter":"|","abbreviate_item":["thoroughfareName","county"],"capitalise_item":["postcode","country"]},"lines":[{"line_name":"Line 1","max_width":255},{"line_name":"Line 2","max_width":255},{"line_name":"Line 3","max_width":255},{"line_name":"Locality","max_width":255,"elements":[{"element_name":"town"}]},{"line_name":"Region","max_width":255},{"line_name":"Postal Code","max_width":255,"elements":[{"element_name":"postcode"}]},{"line_name":"Country","max_width":255,"elements":[{"element_name":"country"}]},{"line_name":"MOSAIC Household Type Code","max_width":255,"elements":[{"element_name":"mosaicHouseholdTypeCode"}]},{"line_name":"UDPRN","max_width":255,"elements":[{"element_name":"udprnKey"}]}]}}
                },
                "United Kingdom without DataPlus": {
                  "value": {"layout":{"name":"United Kingdom without DataPlus","comment":"United Kingdom without DataPlus","applies_to":[{"country_iso":"GBR","datasets":["gb-address"]}],"options":{"variation":1,"flatten_diacritics":false,"enable_enhanced_layout":false,"display_enhanced_info_on_picklist":false,"enable_intelligent_layout":false,"capitalise_unused":false,"separate_elements":true,"element_separator":{"default":", ","configuration_by_element":{"buildingNumber":", ^ ","subBuildingNumber":", ^ ","postcode":" ^ ","deliveryPointSuffix":" ^ ","country":" ^ ","pafAddressKey":"^","pafOrganisationKey":"^"}},"terminate_lines":false,"line_terminator":{"default":", ","configuration_by_element":{"postcode":"^","deliveryPointSuffix":"^","country":".^."}},"pad_lines":false,"multiple_dataplus_delimiter":"|","abbreviate_item":["thoroughfareName","county"],"capitalise_item":["postcode","country"]},"lines":[{"line_name":"Line 1","max_width":255},{"line_name":"Line 2","max_width":255},{"line_name":"Line 3","max_width":255},{"line_name":"Locality","max_width":255,"elements":[{"element_name":"town"}]},{"line_name":"Region","max_width":255},{"line_name":"Postal Code","max_width":255,"elements":[{"element_name":"postcode"}]},{"line_name":"Country","max_width":255,"elements":[{"element_name":"country"}]}]}}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressLayoutsV2CreateResponse"
                },
                "example": {"result":{"id":"00000000-0000-0000-0000-000000000000"}}
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "OAuth2": [ ]
          },
          {
            "Auth-Token": [ ]
          },
          {
            "x-app-key": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Gets a list of the address layouts.",
        "parameters": [
          {
            "name": "Reference-Id",
            "in": "header",
            "description": "Optional identifier that will be returned in the response to help you track the request.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "pattern": "^[\\w\\-\\/\\:\\.\\,\\(\\) ]+$",
              "type": "string"
            }
          },
          {
            "name": "Timeout-Seconds",
            "in": "header",
            "description": "Maximum time you are prepared to wait for a response, expressed in seconds. Acceptable values: 2-15. If a timeout occurs, an HTTP status code of 408 - Request Timeout will be returned.",
            "schema": {
              "maximum": 15,
              "minimum": 2,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "country_iso",
            "in": "query",
            "description": "Filters by Country ISO3",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datasets",
            "in": "query",
            "description": "Filters by Datasets",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "name_contains",
            "in": "query",
            "description": "Filters by layout name contains text",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressLayoutsV2ListResponse"
                },
                "examples": {
                  "Sample": {
                    "value": {"result":[{"id":"00000000-0000-0000-0000-000000000000","name":"Sample Layout 1","applies_to":[{"country_iso":"GBR","datasets":["gb-address"]}],"status":"CreationInProgress"},{"id":"00000000-0000-0000-0000-000000000000","name":"Sample Layout 2","applies_to":[{"country_iso":"AUS","datasets":["au-address"]},{"country_iso":"NZL","datasets":["nz-address"]}],"status":"Completed"}]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "408": {
            "description": "Request Timeout"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "OAuth2": [ ]
          },
          {
            "Auth-Token": [ ]
          },
          {
            "x-app-key": [ ]
          }
        ]
      }
    },
    "/address/layouts/v2/{name}": {
      "delete": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Delete an address layout.",
        "parameters": [
          {
            "name": "Reference-Id",
            "in": "header",
            "description": "Optional identifier that will be returned in the response to help you track the request.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "pattern": "^[\\w\\-\\/\\:\\.\\,\\(\\) ]+$",
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Layout name to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "408": {
            "description": "Request Timeout"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "OAuth2": [ ]
          },
          {
            "Auth-Token": [ ]
          },
          {
            "x-app-key": [ ]
          }
        ]
      },
      "get": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Gets an address layout.",
        "parameters": [
          {
            "name": "Reference-Id",
            "in": "header",
            "description": "Optional identifier that will be returned in the response to help you track the request.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "pattern": "^[\\w\\-\\/\\:\\.\\,\\(\\) ]+$",
              "type": "string"
            }
          },
          {
            "name": "Timeout-Seconds",
            "in": "header",
            "description": "Maximum time you are prepared to wait for a response, expressed in seconds. Acceptable values: 2-15. If a timeout occurs, an HTTP status code of 408 - Request Timeout will be returned.",
            "schema": {
              "maximum": 15,
              "minimum": 2,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Layout name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressLayoutsV2GetResponse"
                },
                "examples": {
                  "United Kingdom": {
                    "value": {"result":{"layout":{"id":"00000000-0000-0000-0000-000000000000","name":"SampleLayout","comment":"Sample Layout","applies_to":[{"country_iso":"GBR","datasets":["gb-address"]}],"options":{"variation":1,"flatten_diacritics":false,"enable_enhanced_layout":false,"display_enhanced_info_on_picklist":false,"enable_intelligent_layout":false,"capitalise_unused":false,"separate_elements":true,"element_separator":{"default":", ","configuration_by_element":{"buildingNumber":", ^ ","subBuildingNumber":", ^ ","postcode":" ^ ","deliveryPointSuffix":" ^ ","country":" ^ ","pafAddressKey":"^","pafOrganisationKey":"^"}},"terminate_lines":false,"line_terminator":{"default":", ","configuration_by_element":{"postcode":"^","deliveryPointSuffix":"^","country":".^."}},"pad_lines":false,"multiple_dataplus_delimiter":"|","abbreviate_item":["thoroughfareName","county"],"capitalise_item":["postcode","country"]},"lines":[{"line_name":"Line 1","max_width":255},{"line_name":"Line 2","max_width":255},{"line_name":"Line 3","max_width":255},{"line_name":"Locality","max_width":255,"elements":[{"element_name":"town"}]},{"line_name":"Region","max_width":255},{"line_name":"Postal Code","max_width":255,"elements":[{"element_name":"postcode"}]},{"line_name":"Country","max_width":255,"elements":[{"element_name":"country"}]},{"line_name":"MOSAIC Household Type Code","max_width":255,"elements":[{"element_name":"mosaicHouseholdTypeCode"}]},{"line_name":"UDPRN","max_width":255,"elements":[{"element_name":"udprnKey"}]}],"status":"Completed","license_id":"SampleLicenseId"}}}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "408": {
            "description": "Request Timeout"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "OAuth2": [ ]
          },
          {
            "Auth-Token": [ ]
          },
          {
            "x-app-key": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Updates an address layout.",
        "parameters": [
          {
            "name": "Reference-Id",
            "in": "header",
            "description": "Optional identifier that will be returned in the response to help you track the request.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "pattern": "^[\\w\\-\\/\\:\\.\\,\\(\\) ]+$",
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Layout name to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressLayoutsV2UpdateRequest"
              },
              "examples": {
                "United Kingdom with DataPlus": {
                  "value": {"layout":{"id":"11111111-1111-1111-1111-111111111111","name":"United Kingdom with DataPlus","comment":"Updated United Kingdom with DataPlus","applies_to":[{"country_iso":"GBR","datasets":["gb-address"]}],"options":{"variation":1,"flatten_diacritics":false,"enable_enhanced_layout":false,"display_enhanced_info_on_picklist":false,"enable_intelligent_layout":false,"capitalise_unused":false,"separate_elements":true,"element_separator":{"default":", ","configuration_by_element":{"buildingNumber":", ^ ","subBuildingNumber":", ^ ","postcode":" ^ ","deliveryPointSuffix":" ^ ","country":" ^ ","pafAddressKey":"^","pafOrganisationKey":"^"}},"terminate_lines":false,"line_terminator":{"default":", ","configuration_by_element":{"postcode":"^","deliveryPointSuffix":"^","country":".^."}},"pad_lines":false,"multiple_dataplus_delimiter":"|","abbreviate_item":["thoroughfareName","county"],"capitalise_item":["postcode","country"]},"lines":[{"line_name":"Line 1","max_width":255},{"line_name":"Line 2","max_width":255},{"line_name":"Line 3","max_width":255},{"line_name":"Locality","max_width":255,"elements":[{"element_name":"town"}]},{"line_name":"Region","max_width":255},{"line_name":"Postal Code","max_width":255,"elements":[{"element_name":"postcode"}]},{"line_name":"Country","max_width":255,"elements":[{"element_name":"country"}]},{"line_name":"MOSAIC Household Type Code","max_width":255,"elements":[{"element_name":"mosaicHouseholdTypeCode"}]},{"line_name":"UDPRN","max_width":255,"elements":[{"element_name":"udprnKey"}]}]}}
                },
                "United Kingdom without DataPlus": {
                  "value": {"layout":{"id":"11111111-1111-1111-1111-111111111111","name":"United Kingdom without DataPlus","comment":"Updated United Kingdom without DataPlus","applies_to":[{"country_iso":"GBR","datasets":["gb-address"]}],"options":{"variation":1,"flatten_diacritics":false,"enable_enhanced_layout":false,"display_enhanced_info_on_picklist":false,"enable_intelligent_layout":false,"capitalise_unused":false,"separate_elements":true,"element_separator":{"default":", ","configuration_by_element":{"buildingNumber":", ^ ","subBuildingNumber":", ^ ","postcode":" ^ ","deliveryPointSuffix":" ^ ","country":" ^ ","pafAddressKey":"^","pafOrganisationKey":"^"}},"terminate_lines":false,"line_terminator":{"default":", ","configuration_by_element":{"postcode":"^","deliveryPointSuffix":"^","country":".^."}},"pad_lines":false,"multiple_dataplus_delimiter":"|","abbreviate_item":["thoroughfareName","county"],"capitalise_item":["postcode","country"]},"lines":[{"line_name":"Line 1","max_width":255},{"line_name":"Line 2","max_width":255},{"line_name":"Line 3","max_width":255},{"line_name":"Locality","max_width":255,"elements":[{"element_name":"town"}]},{"line_name":"Region","max_width":255},{"line_name":"Postal Code","max_width":255,"elements":[{"element_name":"postcode"}]},{"line_name":"Country","max_width":255,"elements":[{"element_name":"country"}]}]}}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "408": {
            "description": "Request Timeout"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "OAuth2": [ ]
          },
          {
            "Auth-Token": [ ]
          },
          {
            "x-app-key": [ ]
          }
        ]
      }
    },
    "/address/lookup/v1": {
      "post": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Lookup an address based on a key.",
        "parameters": [
          {
            "name": "Reference-Id",
            "in": "header",
            "description": "Optional identifier that will be returned in the response to help you track the request.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "pattern": "^[\\w\\-\\/\\:\\.\\,\\(\\) ]+$",
              "type": "string"
            }
          },
          {
            "name": "Timeout-Seconds",
            "in": "header",
            "description": "Maximum time you are prepared to wait for a response, expressed in seconds. Acceptable values: 2-15. If a timeout occurs, an HTTP status code of 408 - Request Timeout will be returned.",
            "schema": {
              "maximum": 15,
              "minimum": 2,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressLookupV1Request"
              },
              "examples": {
                "United Kingdom": {
                  "value": {"country_iso":"GBR","datasets":["gb-address-addressbase"],"key":{"type":"default","value":"11606279"}}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressSearchV1Response"
                },
                "examples": {
                  "United Kingdom": {
                    "value": {"result":{"more_results_available":false,"confidence":"Verified match","suggestions_key":"QVBSfjcuNzMwME1BUFJCZ0huQndBQUFBQUZBUUVBQVFBQUFBaEtwYU5ZQUNHUUJnQUFBQUFBQUFBQUFQLi5BQUFBQUFELi4uLi5BQUFBQUFBQUFBQUFBQUFBQUFBLX44fjc","suggestions_prompt":"Enter selection","suggestions":[{"global_address_key":"QVBSfjcuNzMwUk9BUFJCZ0huQndBQUFBQUZBd0VBQUFBSVNxV2pXQUFoa0FZQUFBQUFBQUFBQUFELi53QUFBQUFBLi4uLi53QUFBQUFBQUFBQUFBQUFBQUFBQURFeE5qQTJNamM1QUFBQUFBQS1-OH43","text":"3 Orford Road, Bromeswell IP12 2PP","format":"https://api.experianaperture.io/address/format/v1/QVBSfjcuNzMwUk9BUFJCZ0huQndBQUFBQUZBd0VBQUFBSVNxV2pXQUFoa0FZQUFBQUFBQUFBQUFELi53QUFBQUFBLi4uLi53QUFBQUFBQUFBQUFBQUFBQUFBQURFeE5qQTJNamM1QUFBQUFBQS1-OH43","additional_attributes":[{"name":"picklist_display","value":"3 Orford Road, Bromeswell"},{"name":"postcode","value":"IP12 2PP"}]}]}}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "408": {
            "description": "Request Timeout"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "OAuth2": [ ]
          },
          {
            "Auth-Token": [ ]
          },
          {
            "x-app-key": [ ]
          }
        ]
      }
    },
    "/address/lookup/v2": {
      "post": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Lookup an address based on a key.",
        "parameters": [
          {
            "name": "Reference-Id",
            "in": "header",
            "description": "Optional identifier that will be returned in the response to help you track the request.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "pattern": "^[\\w\\-\\/\\:\\.\\,\\(\\) ]+$",
              "type": "string"
            }
          },
          {
            "name": "Timeout-Seconds",
            "in": "header",
            "description": "Maximum time you are prepared to wait for a response, expressed in seconds. Acceptable values: 2-15. If a timeout occurs, an HTTP status code of 408 - Request Timeout will be returned.",
            "schema": {
              "maximum": 15,
              "minimum": 2,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Add-Addresses",
            "in": "header",
            "description": "If true an `addresses` field will be populated with concrete addresses in response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Add-FinalAddress",
            "in": "header",
            "description": "If true an `addresses_formatted` field will be populated with concrete custom formatted addresses in response.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressLookupV2Request"
              },
              "examples": {
                "Australia - postal code": {
                  "value": {"country_iso":"AUS","datasets":["au-address"],"key":{"type":"postal_code","value":"3071"}}
                },
                "Australia G-NAF - partial locality": {
                  "value": {"country_iso":"AUS","datasets":["au-address-gnaf"],"max_addresses":2,"key":{"type":"locality","value":"thornb"}}
                },
                "United Kingdom - partial postal code": {
                  "value": {"country_iso":"GBR","datasets":["gb-address"],"key":{"type":"postal_code","value":"nn14"}}
                },
                "United Kingdom - locality": {
                  "value": {"country_iso":"GBR","datasets":["gb-address"],"max_addresses":2,"key":{"type":"locality","value":"Birmingham"}}
                },
                "United Kingdom - Unique Delivery Point Reference Number (UDPRN)": {
                  "value": {"country_iso":"GBR","datasets":["gb-address"],"key":{"type":"udprn","value":"27453340"}}
                },
                "United Kingdom - Electricity Meter Point Administration Number (MPAN)": {
                  "value": {"country_iso":"GBR","datasets":["gb-additional-electricity"],"key":{"type":"mpan","value":"1234567890123"},"layouts":["ElectricityUtilityLookup"]}
                },
                "United Kingdom - Gas Meter Point Reference Number (MPRN)": {
                  "value": {"country_iso":"GBR","datasets":["gb-additional-gas"],"key":{"type":"mprn","value":"1234567890"},"layouts":["GasUtilityLookup"]}
                },
                "United States - postal code": {
                  "value": {"country_iso":"USA","datasets":["us-address"],"key":{"type":"postal_code","value":"10024"}}
                },
                "United States - partial locality": {
                  "value": {"country_iso":"USA","datasets":["us-address"],"max_addresses":2,"key":{"type":"locality","value":"bosto"}}
                },
                "United States - city/state combination": {
                  "value": {"country_iso":"USA","datasets":["us-address"],"key":{"type":"locality","value":"boston, va"}}
                },
                "United Kingdom - what3words search": {
                  "value": {"country_iso":"GBR","datasets":["gb-address"],"key":{"type":"what3words","value":"///pretty.needed.chill"}}
                },
                "United Kingdom - what3words AutoSuggest search": {
                  "value": {"country_iso":"GBR","datasets":["gb-address"],"key":{"type":"what3words","value":"pretty.needed.chill"}}
                },
                "Japan - postal code latin script": {
                  "value": {"country_iso":"JPN","datasets":["jp-address"],"key":{"type":"postal_code","value":"194-0212"},"preferred_language":["ja"],"preferred_script":["latin"]}
                },
                "Japan - postal code kanji script": {
                  "value": {"country_iso":"JPN","datasets":["jp-address"],"key":{"type":"postal_code","value":"194-0212"},"preferred_language":["ja"],"preferred_script":["kanji"]}
                },
                "Japan - postal code kana script": {
                  "value": {"country_iso":"JPN","datasets":["jp-address"],"key":{"type":"postal_code","value":"194-0212"},"preferred_language":["ja"],"preferred_script":["kana"]}
                },
                "Japan - locality latin script": {
                  "value": {"country_iso":"JPN","datasets":["jp-address"],"key":{"type":"locality","value":"Machida-Shi"},"preferred_language":["ja"],"preferred_script":["latin"]}
                },
                "Japan - locality kanji script": {
                  "value": {"country_iso":"JPN","datasets":["jp-address"],"key":{"type":"locality","value":"町田市"},"preferred_language":["ja"],"preferred_script":["kanji"]}
                },
                "Japan - partial city": {
                  "value": {"country_iso":"JPN","datasets":["jp-address"],"key":{"type":"locality","value":"Aomo"}}
                },
                "Japan - city district combination": {
                  "value": {"country_iso":"JPN","datasets":["jp-address"],"key":{"type":"locality","value":"Aomori-Shi"}}
                },
                "Japan - Kanji script": {
                  "value": {"country_iso":"JPN","datasets":["jp-address-ea"],"key":{"type":"postal_code","value":"1320024"},"preferred_language":["ja"],"preferred_script":["kanji"]}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressLookupV2Result"
                },
                "examples": {
                  "Australia - postal code": {
                    "value": {"result":{"more_results_available":false,"confidence":"No matches","suggestions":[{"locality":{"region":{"name":"VICTORIA","code":"VIC"},"town":{"name":"Thornbury"}},"postal_code":{"full_name":"3071"}}]}}
                  },
                  "Australia G-NAF - partial locality": {
                    "value": {"result":{"more_results_available":false,"confidence":"Multiple matches","suggestions":[{"locality":{"region":{"name":"VICTORIA","code":"VIC"},"town":{"name":"Thornbury"}},"postal_code":{"full_name":"3071"}},{"locality":{"region":{"name":"QUEENSLAND","code":"QLD"},"town":{"name":"Thornborough"}},"postal_code":{"full_name":"4871"}}],"addresses":[{"text":"19 Alexandra Street, THORNBURY VIC 3071","matched":[[21,27]],"global_address_key":"aWQ9MTkgQWxleGFuZHJhIFN0cmVldCwgVEhPUk5CVVJZIFZJQyAzMDcxLCBBdXN0cmFsaWF-YWx0X2tleT1HYXZpYzQyMDUwNDMwNX5kYXRhc2V0PUFVU19HTkFGfmZvcm1hdF9rZXk9QVVTJGF1LWFkZHJlc3MtZ25hZi1iZXRhJEdBVklDNDIwNTA0MzA1JCQk","format":"https://api.experianaperture.io/address/format/v1/aWQ9MTkgQWxleGFuZHJhIFN0cmVldCwgVEhPUk5CVVJZIFZJQyAzMDcxLCBBdXN0cmFsaWF-YWx0X2tleT1HYXZpYzQyMDUwNDMwNX5kYXRhc2V0PUFVU19HTkFGfmZvcm1hdF9rZXk9QVVTJGF1LWFkZHJlc3MtZ25hZi1iZXRhJEdBVklDNDIwNTA0MzA1JCQkflFMPTY"},{"text":"16 Alexandra Street, THORNBURY VIC 3071","matched":[[21,27]],"global_address_key":"aWQ9MTYgQWxleGFuZHJhIFN0cmVldCwgVEhPUk5CVVJZIFZJQyAzMDcxLCBBdXN0cmFsaWF-YWx0X2tleT1HYXZpYzQyMDE3Mjk2OH5kYXRhc2V0PUFVU19HTkFGfmZvcm1hdF9rZXk9QVVTJGF1LWFkZHJlc3MtZ25hZi1iZXRhJEdBVklDNDIwMTcyOTY4JCQk","format":"https://api.experianaperture.io/address/format/v1/aWQ9MTYgQWxleGFuZHJhIFN0cmVldCwgVEhPUk5CVVJZIFZJQyAzMDcxLCBBdXN0cmFsaWF-YWx0X2tleT1HYXZpYzQyMDE3Mjk2OH5kYXRhc2V0PUFVU19HTkFGfmZvcm1hdF9rZXk9QVVTJGF1LWFkZHJlc3MtZ25hZi1iZXRhJEdBVklDNDIwMTcyOTY4JCQkflFMPTY"}]}}
                  },
                  "United Kingdom - partial postal code": {
                    "value": {"result":{"more_results_available":false,"confidence":"No matches","suggestions":[{"locality":{"town":{"name":"Kettering"},"district":{"name":"Desborough"}},"postal_code":{"full_name":"NN14 2JE"}},{"locality":{"town":{"name":"Kettering"},"district":{"name":"Desborough"}},"postal_code":{"full_name":"NN14 2JJ"}},{"locality":{"town":{"name":"Kettering"},"district":{"name":"Mawsley"}},"postal_code":{"full_name":"NN14 1TR"}}]}}
                  },
                  "United Kingdom - locality": {
                    "value": {"result":{"more_results_available":false,"confidence":"Multiple matches","suggestions":[{"locality":{"town":{"name":"Birmingham"},"district":{"name":"Erdington"}},"postal_code":{"full_name":"B24 9QR"}},{"locality":{"town":{"name":"Birmingham"}},"postal_code":{"full_name":"B31 2JW"}},{"locality":{"town":{"name":"Birmingham"},"district":{"name":"Yardley Wood"}},"postal_code":{"full_name":"B14 4DU"}}],"addresses":[{"text":"Apartment 1903, Beetham Tower, 10 Holloway Circus Queensway, Birmingham, B1 1BA","matched":[[61,71]],"global_address_key":"aWQ9QXBhcnRtZW50IDE5MDMsIEJlZXRoYW0gVG93ZXIsIDEwIEhvbGxvd2F5IENpcmN1cyBRdWVlbnN3YXksIEJpcm1pbmdoYW0sIEIxIDFCQSwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT01MDMxODkwN35kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyQ1ZmZlMTUyYS1kM2M2LTRkYTYtOTE1ZS1hODhlZTBhNWUyYzAkJCQ","format":"https://api.experianaperture.io/address/format/v1/aWQ9QXBhcnRtZW50IDE5MDMsIEJlZXRoYW0gVG93ZXIsIDEwIEhvbGxvd2F5IENpcmN1cyBRdWVlbnN3YXksIEJpcm1pbmdoYW0sIEIxIDFCQSwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT01MDMxODkwN35kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyQ1ZmZlMTUyYS1kM2M2LTRkYTYtOTE1ZS1hODhlZTBhNWUyYzAkJCR-UUw9MTA"},{"text":"Apartment 2107, Beetham Tower, 10 Holloway Circus Queensway, Birmingham, B1 1BA","matched":[[61,71]],"global_address_key":"aWQ9QXBhcnRtZW50IDIxMDcsIEJlZXRoYW0gVG93ZXIsIDEwIEhvbGxvd2F5IENpcmN1cyBRdWVlbnN3YXksIEJpcm1pbmdoYW0sIEIxIDFCQSwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT01MDMxODkzMH5kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyQ4MTA0NTMyOC1iZmZjLTQwZDgtOTM0ZS0yMzQ2ZDIzMzA1OWYkJCQ","format":"https://api.experianaperture.io/address/format/v1/aWQ9QXBhcnRtZW50IDIxMDcsIEJlZXRoYW0gVG93ZXIsIDEwIEhvbGxvd2F5IENpcmN1cyBRdWVlbnN3YXksIEJpcm1pbmdoYW0sIEIxIDFCQSwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT01MDMxODkzMH5kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyQ4MTA0NTMyOC1iZmZjLTQwZDgtOTM0ZS0yMzQ2ZDIzMzA1OWYkJCR-UUw9MTA"}]}}
                  },
                  "United Kingdom - Unique Delivery Point Reference Number (UDPRN)": {
                    "value": {"result":{"more_results_available":false,"confidence":"No matches","suggestions":[{"locality":{"town":{"name":"York"},"district":{"name":"Terrington"}},"postal_code":{"full_name":"YO60 6PH"}}]}}
                  },
                  "United Kingdom - Electricity Meter Point Administration Number (MPAN)": {
                    "value": {"result":{"more_results_available":false,"confidence":"Verified match","suggestions":[{"locality":{"sub_region":{"name":"FIFE"},"town":{"name":"KELTY"}},"postal_code":{"full_name":"KY4 0BL"},"postal_code_key":"aWQ9S1k0IDBCTCwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT1-ZGF0YXNldD1HQlJfUEFGfmZvcm1hdF9rZXk9R0JSJGdiLWFkZHJlc3MkJCQk","locality_key":"aWQ9S0VMVFksIEZJRkUsIFVuaXRlZCBLaW5nZG9tfmFsdF9rZXk9fmRhdGFzZXQ9R0JSX1BBRn5mb3JtYXRfa2V5PUdCUiRnYi1hZGRyZXNzJCQkJA"}],"addresses":[{"text":"77, STATION ROAD, KELTY, FIFE, KY4 0BL","global_address_key":"R0JFfn4xM34wfmVsZWM9dHJ1ZX5tcGFuPTE4MDAwMjA5ODIwNzh-aWQ9NzcsIFNUQVRJT04gUk9BRCwgS0VMVFksIEZJRkUsIEtZNCAwQkw","format":"https://api.experianaperture.io/address/format/v1/R0JFfn4xM34wfmVsZWM9dHJ1ZX5tcGFuPTE4MDAwMjA5ODIwNzh-aWQ9NzcsIFNUQVRJT04gUk9BRCwgS0VMVFksIEZJRkUsIEtZNCAwQkw"}],"addresses_formatted":[{"layout_name":"ElectricityUtilityLookup","address":{"electricity_meters":[{"mpan":"1234567890","address_line_1":"","address_line_2":"","address_line_3":"77","address_line_4":"","address_line_5":"STATION ROAD","address_line_6":"","address_line_7":"","address_line_8":"KELTY","address_line_9":"FIFE","address_postal_code":"KY4 0BL","trading_status":"T","trading_status_efd":"19960101","profile_class":"01","profile_class_efd":"20200101","meter_timeswitch_class":"801","meter_timeswitch_class_efd":"20200101","line_loss_factor":"100","line_loss_factor_efd":"20200101","standard_settlement_configuration":"0393","standard_settlement_configuration_efd":"20200101","energisation_status":"E","energisation_status_efd":"20200101","gsp_group_id":"_N","gsp_group_efd":"19960101","data_aggregator_mpid":"UDMS","data_aggregator_efd":"20200101","data_collector_mpid":"UDMS","data_collector_efd":"20200101","supplier_mpid":"TULP","supplier_efd":"20200101","meter_operator_mpid":"EMSL","meter_operator_efd":"20200101","measurement_class":"A","measurement_class_efd":"20200101","green_deal_in_effect":"0","smso_mpid":"","smso_efd":"","dcc_service_flag":"A","dcc_service_flag_efd":"20200101","ihd_status":"","ihd_status_efd":"","smets_version":"SMETS2","distributor_mpid":"SPOW","metered_indicator":"T","metered_indicator_efd":"20170101","metered_indicator_etd":"","consumer_type":"Domestic","relationship_status_indicator":"None","rmp_state":"O","rmp_efd":"19960101","domestic_consumer_indicator":"T","css_supplier_mpid":"","css_supply_start_date":"","meter_serial_number":"1234567890","meter_install_date":"20200101","meter_type":"S2A","map_mpid":"MLBB","map_mpid_efd":"20200101","installing_supplier_mpid":"BGAS","energy_direction":"","energy_direction_efd":"","energy_direction_etd":"","connection_type":"","connection_type_efd":"","connection_type_etd":"","esme_id":"","meter_location":"","register_digits":""}]}}]}}
                  },
                  "United Kingdom - Gas Meter Point Reference Number (MPRN)": {
                    "value": {"result":{"more_results_available":false,"confidence":"Verified match","suggestions":[{"locality":{"sub_region":{"name":"FIFE"},"town":{"name":"KELTY"}},"postal_code":{"full_name":"KY4 0BL"},"postal_code_key":"aWQ9S1k0IDBCTCwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT1-ZGF0YXNldD1HQlJfUEFGfmZvcm1hdF9rZXk9R0JSJGdiLWFkZHJlc3MkJCQk","locality_key":"aWQ9S0VMVFksIEZJRkUsIFVuaXRlZCBLaW5nZG9tfmFsdF9rZXk9fmRhdGFzZXQ9R0JSX1BBRn5mb3JtYXRfa2V5PUdCUiRnYi1hZGRyZXNzJCQkJA"}],"addresses":[{"text":"77, STATION ROAD, KELTY, FIFE, KY4 0BL","global_address_key":"R0JHfn4xMH4wfmdhcz10cnVlfm1wcm49MTEzNTUxNzAwN35pZD03NywgU1RBVElPTiBST0FELCBLRUxUWSwgS1k0IDBCTA","format":"https://api.experianaperture.io/address/format/v1/R0JHfn4xMH4wfmdhcz10cnVlfm1wcm49MTEzNTUxNzAwN35pZD03NywgU1RBVElPTiBST0FELCBLRUxUWSwgS1k0IDBCTA"}],"addresses_formatted":[{"layout_name":"GasUtilityLookup","address":{"gas_meters":[{"mprn":"1234567890","uprn":"123456789","rel_address_primary_name":"77","rel_address_secondary_name":"","rel_address_street1":"STATION ROAD","rel_address_street2":"","rel_address_locality1":"","rel_address_locality2":"","rel_address_town":"KELTY","rel_address_postcode":"KY4 0BL","rel_address_logical_status":"1","rel_address_language":"ENG","rel_address_organisation":"","rel_address_address_type":"DPA","rel_address_confidence_score":"100","rel_address_classification":"RD06","rel_address_latitude":"56.133556","rel_address_longitude":"-3.376114","meter_serial":"12345678901234","offtake_quantity_annual":"5699","meter_point_status":"LI","installer_id":"BGT","network_name":"Scotland Gas Networks Plc.","supplier_name":"EDF Energy Customers Limited","last_meter_read_date":"20230101","last_meter_read_type":"R","last_meter_read_value":"03285"}]}}]}}
                  },
                  "United States - postal code": {
                    "value": {"result":{"more_results_available":false,"confidence":"No matches","suggestions":[{"locality":{"region":{"code":"NY"},"sub_region":{"name":"New York"},"town":{"name":"New York"}},"postal_code":{"primary":"10024"}}]}}
                  },
                  "United States - partial locality": {
                    "value": {"result":{"more_results_available":false,"confidence":"Multiple matches","suggestions":[{"locality":{"region":{"code":"MA"},"sub_region":{"name":"Suffolk"},"town":{"name":"Boston"}},"postal_code":{"primary":"02118"}},{"locality":{"region":{"code":"MA"},"sub_region":{"name":"Suffolk"},"town":{"name":"Boston"}},"postal_code":{"primary":"02241"}}],"addresses":[{"text":"100 S Salem St, Boston IN 47324","matched":[[16,21]],"global_address_key":"aWQ9MTAwIFMgU2FsZW0gU3QsIEJvc3RvbiBJTiA0NzMyNCwgVW5pdGVkIFN0YXRlcyBPZiBBbWVyaWNhfmFsdF9rZXk9fDEwMCBTIFNhbGVtIFN0fHxCb3N0b24sSU4sNDczMjQtNzcwM35kYXRhc2V0PVVTQV9QQUZ-Zm9ybWF0X2tleT1VU0EkdXMtYWRkcmVzcyQ0ZTlhODEyNy1lOTlhLTRkMGUtOGU5Yy0yZmRjYTZiNjAxYjckMTAwJCQ","format":"https://api.experianaperture.io/address/format/v1/aWQ9MTAwIFMgU2FsZW0gU3QsIEJvc3RvbiBJTiA0NzMyNCwgVW5pdGVkIFN0YXRlcyBPZiBBbWVyaWNhfmFsdF9rZXk9fDEwMCBTIFNhbGVtIFN0fHxCb3N0b24sSU4sNDczMjQtNzcwM35kYXRhc2V0PVVTQV9QQUZ-Zm9ybWF0X2tleT1VU0EkdXMtYWRkcmVzcyQ0ZTlhODEyNy1lOTlhLTRkMGUtOGU5Yy0yZmRjYTZiNjAxYjckMTAwJCR-UUw9NQ"},{"text":"101 S Salem St, Boston IN 47324","matched":[[16,21]],"global_address_key":"aWQ9MTAxIFMgU2FsZW0gU3QsIEJvc3RvbiBJTiA0NzMyNCwgVW5pdGVkIFN0YXRlcyBPZiBBbWVyaWNhfmFsdF9rZXk9fDEwMSBTIFNhbGVtIFN0fHxCb3N0b24sSU4sNDczMjQtNzcwM35kYXRhc2V0PVVTQV9QQUZ-Zm9ybWF0X2tleT1VU0EkdXMtYWRkcmVzcyQ0ZTlhODEyNy1lOTlhLTRkMGUtOGU5Yy0yZmRjYTZiNjAxYjckMTAxJCQ","format":"https://api.experianaperture.io/address/format/v1/aWQ9MTAxIFMgU2FsZW0gU3QsIEJvc3RvbiBJTiA0NzMyNCwgVW5pdGVkIFN0YXRlcyBPZiBBbWVyaWNhfmFsdF9rZXk9fDEwMSBTIFNhbGVtIFN0fHxCb3N0b24sSU4sNDczMjQtNzcwM35kYXRhc2V0PVVTQV9QQUZ-Zm9ybWF0X2tleT1VU0EkdXMtYWRkcmVzcyQ0ZTlhODEyNy1lOTlhLTRkMGUtOGU5Yy0yZmRjYTZiNjAxYjckMTAxJCR-UUw9NQ"}]}}
                  },
                  "United States - city/state combination": {
                    "value": {"result":{"more_results_available":false,"confidence":"No matches","suggestions":[{"locality":{"region":{"code":"VA"},"sub_region":{"name":"Culpeper"},"town":{"name":"Boston"}},"postal_code":{"primary":"Boston"}},{"locality":{"region":{"code":"VA"},"sub_region":{"name":"Rappahannock"},"town":{"name":"Boston"}},"postal_code":{"primary":"22713"}}]}}
                  },
                  "United Kingdom - what3words search": {
                    "value": {"result":{"more_results_available":false,"confidence":"Multiple matches","addresses":[{"text":"University Of Oxford, Botanic Gardens, High Street, Oxford, OX1 4AZ","matched":[[]],"global_address_key":"aWQ9VW5pdmVyc2l0eSBPZiBPeGZvcmQsIEJvdGFuaWMgR2FyZGVucywgSGlnaCBTdHJlZXQsIE94Zm9yZCwgT1gxIDRBWiwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0xODA0NjE1Mn5kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyRlZTNkMDE5NC1mOGYyLTRmYzQtYTEwZC1kZTVkZDZjYTA2OGEkJCR-dzN3PXByZXR0eS5uZWVkZWQuY2hpbGw","format":"https://api.experianaperture.io/address/format/v1/aWQ9VW5pdmVyc2l0eSBPZiBPeGZvcmQsIEJvdGFuaWMgR2FyZGVucywgSGlnaCBTdHJlZXQsIE94Zm9yZCwgT1gxIDRBWiwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0xODA0NjE1Mn5kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyRlZTNkMDE5NC1mOGYyLTRmYzQtYTEwZC1kZTVkZDZjYTA2OGEkJCR-dzN3PXByZXR0eS5uZWVkZWQuY2hpbGx-UUw9MjI"},{"text":"Magdalen College, High Street, Oxford, OX1 4AU","matched":[[]],"global_address_key":"aWQ9TWFnZGFsZW4gQ29sbGVnZSwgSGlnaCBTdHJlZXQsIE94Zm9yZCwgT1gxIDRBVSwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0xODA0NjEzMH5kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyQyZGQyNWRlMS1kZGIzLTQxMDctOTUxZS1jMjc4NGJmZjc2MmMkJCR-dzN3PXByZXR0eS5uZWVkZWQuY2hpbGw","format":"https://api.experianaperture.io/address/format/v1/aWQ9TWFnZGFsZW4gQ29sbGVnZSwgSGlnaCBTdHJlZXQsIE94Zm9yZCwgT1gxIDRBVSwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0xODA0NjEzMH5kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyQyZGQyNWRlMS1kZGIzLTQxMDctOTUxZS1jMjc4NGJmZjc2MmMkJCR-dzN3PXByZXR0eS5uZWVkZWQuY2hpbGx-UUw9MjI"}]}}
                  },
                  "United Kingdom - what3words AutoSuggest search": {
                    "value": {"result":{"more_results_available":false,"confidence":"No matches","suggestions":[{"what3words":{"name":"pretty.needed.chill","description":"near Oxford, Oxfordshire"}},{"what3words":{"name":"pretty.needed.still","description":"near Plympton, Devon"}},{"what3words":{"name":"pretty.needed.skill","description":"near Calverton, Nottinghamshire"}}]}}
                  },
                  "Japan - postal code latin script": {
                    "value": {"result":{"more_results_available":false,"confidence":"No matches","suggestions":[{"locality":{"region":{"name":"Tokyo"},"sub_region":{"name":"Machida-Shi"},"district":{"name":"Oyamamachi"}},"postal_code":{"full_name":"194-0212"},"postal_code_key":"base64-encoded-postal-code-key-1","locality_key":"base64-encoded-locality-key-1"}]}}
                  },
                  "Japan - postal code kanji script": {
                    "value": {"result":{"more_results_available":false,"confidence":"No matches","suggestions":[{"locality":{"region":{"name":"東京都"},"sub_region":{"name":"町田市"},"district":{"name":"小山町"}},"postal_code":{"full_name":"194-0212"},"postal_code_key":"base64-encoded-postal-code-key-1","locality_key":"base64-encoded-locality-key-1"}]}}
                  },
                  "Japan - postal code kana script": {
                    "value": {"result":{"more_results_available":false,"confidence":"No matches","suggestions":[{"locality":{"region":{"name":"トウキョウト"},"sub_region":{"name":"マチダシ"},"district":{"name":"オヤママチ"}},"postal_code":{"full_name":"194-0212"},"postal_code_key":"base64-encoded-postal-code-key-1","locality_key":"base64-encoded-locality-key-1"}]}}
                  },
                  "Japan - locality latin script": {
                    "value": {"result":{"more_results_available":false,"confidence":"No matches","suggestions":[{"locality":{"region":{"name":"Tokyo"},"sub_region":{"name":"Machida-Shi"},"district":{"name":"Oyamamachi"}},"postal_code":{"full_name":"194-0212"},"postal_code_key":"base64-encoded-postal-code-key-1","locality_key":"base64-encoded-locality-key-1"}]}}
                  },
                  "Japan - locality kanji script": {
                    "value": {"result":{"more_results_available":false,"confidence":"No matches","suggestions":[{"locality":{"region":{"name":"東京都"},"sub_region":{"name":"町田市"},"district":{"name":"小山町"}},"postal_code":{"full_name":"194-0212"},"postal_code_key":"base64-encoded-postal-code-key-1","locality_key":"base64-encoded-locality-key-1"}]}}
                  },
                  "Japan - partial city": {
                    "value": {"result":{"more_results_available":false,"confidence":"No matches","suggestions":[{"locality":{"region":{"name":"Aomori"},"sub_region":{"name":"Aomori-Shi"},"district":{"name":"Oaza Shinjo"},"sub_district":{"name":"Aza Hiraoka"}},"postal_code":{"full_name":"038-0042"},"postal_code_key":"base64-encoded-postal-code-key-1","locality_key":"base64-encoded-locality-key-1"},{"locality":{"region":{"name":"Aomori"},"sub_region":{"name":"Aomori-Shi"},"district":{"name":"Oaza Tsutsui"},"sub_district":{"name":"Aza Yatsuhashi"}},"postal_code":{"full_name":"030-0944"},"postal_code_key":"base64-encoded-postal-code-key-2","locality_key":"base64-encoded-locality-key-2"}]}}
                  },
                  "Japan - city district combination": {
                    "value": {"result":{"more_results_available":false,"confidence":"Multiple matches","suggestions":[{"locality":{"region":{"name":"Aomori"},"sub_region":{"name":"Aomori-Shi"},"district":{"name":"Oaza Shinjo"},"sub_district":{"name":"Aza Hiraoka"}},"postal_code":{"full_name":"038-0042"},"postal_code_key":"base64-encoded-postal-code-key-1","locality_key":"base64-encoded-locality-key-1"}]}}
                  },
                  "Japan - Kanji script": {
                    "value": {"result":{"more_results_available":false,"confidence":"No matches","suggestions":[{"locality":{"region":{"name":"東京都"},"sub_region":{"name":"江戸川区"},"district":{"name":"一之江"},"sub_district":{"name":"1丁目"}},"postal_code":{"primary":"132-0024"}}]}}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "408": {
            "description": "Request Timeout"
          },
          "415": {
            "description": "Unsupported Media Type"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "security": [
          {
            "OAuth2": [ ]
          },
          {
            "Auth-Token": [ ]
          },
          {
            "x-app-key": [ ]
          }
        ]
      }
    },
    "/address/promptsets/v1": {
      "post": {
        "tags": [
          "Address Validation"
        ],
        "summary": "Get the available prompt sets.",
        "parameters": [
          {
            "name": "Reference-Id",
            "in": "header",
            "description": "Optional identifier that will be returned in the response to help you track the request.",
            "schema": {
              "maxLength": 256,
              "minLength": 0,
              "pattern": "^[\\w\\-\\/\\:\\.\\,\\(\\) ]+$",
              "type": "string"
            }
          },
          {
            "name": "Timeout-Seconds",
            "in": "header",
            "description": "Maximum time you are prepared to wait for a response, expressed in seconds. Acceptable values: 2-15. If a timeout occurs, an HTTP status code of 408 - Request Timeout will be returned.",
            "schema": {
              "maximum": 15,
              "minimum": 2,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressPromptSetsV1Request"
              },
              "examples": {
                "Australia": {
                  "value": {"country_iso":"AUS","datasets":["au-address-datafusion"],"search_type":"singleline","prompt_set":"generic"}
                },
                "United Kingdom": {
                  "value": {"country_iso":"GBR","datasets":["gb-additional-business"],"search_type":"singleline","prompt_set":"alternate"}
                },
                "United States": {
                  "value": {"country_iso":"USA","datasets":["us-address"],"search_type":"typedown","prompt_set":"default"}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressPromptSetsV1Response"
                },
                "examples": {
                  "Australia": {
                    "value": {"result":{"lines":[{"prompt":"Building Number or Name","suggested_input_length":40,"example":"125v"},{"prompt":"Street","suggested_input_length":40,"example":"Summer St"},{"prompt":"Town or City","suggested_input_length":40,"example":"Boston"},{"prompt":"Postal code","suggested_input_length":10,"example":"02110-1615"}]}}
                  },
                  "United Kingdom": {
                    "value": {"result":{"lines":[{"prompt":"Building number or name","suggested_input_length":40,"example":"12"},{"prompt":"Street","suggested_input_length":40,"example":"Redacre"},{"prompt":"Town","suggested_input_length":40,"example":"Bristol"}]}}
                  },
                  "United States": {
[...]
