openapi: 3.2.0
info:
  title: Aperture REST Enrichment API
  version: v2
servers:
- url: https://api.experianaperture.io/
tags:
- name: Enrichment
paths:
  /enrichment/v2:
    post:
      tags:
      - Enrichment
      summary: Submits an enrichment request to the service and returns enriched data for the…
      parameters:
      - name: Add-Metadata
        in: header
        description: Specify whether the response should return all fields and values, in addition to the main core information.
        schema:
          type: boolean
      - name: Reference-Id
        in: header
        description: Optional identifier that will be returned in the response to help you track the request.
        schema:
          maxLength: 256
          minLength: 0
          pattern: ^[\w\-\/\:\.\,\(\) ]+$
          type: string
      - name: Timeout-Seconds
        in: header
        description: 'Maximum time you are prepared to wait for a response, expressed in seconds. Acceptable values: 2-15. If a timeout occurs, an HTTP status code of 408 - Request Timeout will be returned.'
        schema:
          maximum: 15
          minimum: 2
          type: integer
          format: int32
      requestBody:
        description: The request body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrichmentV2Request'
            examples:
              GLO - Global Geocodes:
                value:
                  country_iso: USA
                  keys:
                    global_address_key: aWQ9NDc1IEFudG9uIEJsdmQsIENvc3RhIE1lc2EgQ0EgOTI2MjYsIFVuaXRlZCBTdGF0ZXMgT2YgQW1lcmljYX5hbHRfa2V5PXw0NzUgQW50b24gQmx2ZHx8Q29zdGEgTWVzYSxDQSw5MjYyNi03MDM3fmRhdGFzZXQ9VVNBX1BBRn5mb3JtYXRpZD02YzJkN2RkNC05YzEzLTQ3YWUtYWZiYi0yZWMyYjEyNGE2NDVfVTQwXzI0XzBfMF8wPTQ3NX5xbD0yM35nZW89MA
                  attributes:
                    geocodes:
                    - latitude
                    - longitude
                    - match_level
              GLO - Premium Location Insight:
                value:
                  country_iso: GBR
                  keys:
                    global_address_key: aWQ9MTAxIE1haW4gUm9hZCwgQ2xlZXZlLCBCcmlzdG9sLCBCUzQ5IDRQTiwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0wMzA3MTAyM35kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyRlZWZmZjgxOC1mOTJlLTRmNmQtYWU3ZC0wNGJiNjdlZmFhNDUkJCR-UUw9MjE
                  attributes:
                    premium_location_insight:
                    - geocodes
                    - geocodes_building_xy
                    - geocodes_access
                    - time
              GLO - Premium Location Insight Lite:
                value:
                  country_iso: GBR
                  keys:
                    global_address_key: aWQ9MTAxIE1haW4gUm9hZCwgQ2xlZXZlLCBCcmlzdG9sLCBCUzQ5IDRQTiwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0wMzA3MTAyM35kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyRlZWZmZjgxOC1mOTJlLTRmNmQtYWU3ZC0wNGJiNjdlZmFhNDUkJCR-UUw9MjE
                  attributes:
                    premium_location_insight:
                    - geocodes
                    - geocodes_building_xy
                    - geocodes_access
              AUS - Geocodes:
                value:
                  country_iso: AUS
                  keys:
                    global_address_key: aWQ9OCBDb2NocmFuZSBTdHJlZXQsIFdFU1QgS0VNUFNFWSAgTlNXIDI0NDAsIEF1c3RyYWxpYX5hbHRfa2V5PUdBTlNXNzA2MjY4NjE5fmRhdGFzZXQ9QVVTX0dOQUZ-Zm9ybWF0X2tleT1BVVMkR05BRiQ3NjJBVUctbk9BVUdIQUxsQndBQUFBQUlBZ0VBQUFBQUZ6UXl3QUFBQUFBQUFEZ0FBUC4uWkFBQUFBRC4uLi4uQUFBQUFBQUFBQUFBQUFBQUFBQUFPQ0JEYjJOb2NtRnVaU0JUZEhKbFpYUXNJRmRGVTFRZ1MwVk5VRk5GV1NBZ1RsTlhJREkwTkRBQUFBQUFBQS0tJCQk
                  attributes:
                    aus_regional_geocodes:
                    - latitude
                    - longitude
                    - match_level
                    - sa1
                    - meshblock
                    - lga_code
                    - lga_name
                    - street_pid
                    - locality_pid
                    - geocode_level_code
                    - geocode_level_description
                    - geocode_type_code
                    - geocode_type_description
                    - highest_level_longitude
                    - highest_level_latitude
                    - highest_level_elevation
                    - highest_level_planimetric_accuracy
                    - highest_level_boundary_extent
                    - highest_level_geocode_reliability_code
                    - highest_level_geocode_reliability_description
                    - confidence_level_code
                    - confidence_level_description
                    - 2021_meshblock_id
                    - 2021_meshblock_code
                    - 2021_meshblock_match_code
                    - 2021_meshblock_match_description
                    - 2016_meshblock_id
                    - 2016_meshblock_code
                    - 2016_meshblock_match_code
                    - 2016_meshblock_match_description
                    - address_type_code
                    - primary_address_pid
                    - address_join_type
                    - collector_district_id
                    - collector_district_code
                    - commonwealth_electoral_boundary_id
                    - commonwealth_electoral_boundary_name
                    - statistical_local_area_id
                    - statistical_local_area_code
                    - statistical_local_area_name
                    - state_electoral_boundary_id
                    - state_electoral_boundary_name
                    - state_electoral_effective_start
                    - state_electoral_effective_end
                    - state_electoral_new_pid
                    - state_electoral_new_name
                    - state_electoral_new_effective_start
                    - state_electoral_new_effective_end
                    - address_level_longitude
                    - address_level_latitude
                    - address_level_elevation
                    - address_level_planimetric_accuracy
                    - address_level_boundary_extent
                    - address_level_geocode_reliability_code
                    - address_level_geocode_reliability_description
                    - street_level_longitude
                    - street_level_latitude
                    - street_level_planimetric_accuracy
                    - street_level_boundary_extent
                    - street_level_geocode_reliability_code
                    - street_level_geocode_reliability_description
                    - locality_level_longitude
                    - locality_level_latitude
                    - locality_level_planimetric_accuracy
                    - locality_level_geocode_reliability_code
                    - locality_level_geocode_reliability_description
                    - gnaf_legal_parcel_identifier
                    - locality_class_code
              GBR - Government:
                value:
                  country_iso: GBR
                  keys:
                    global_address_key: aWQ9NzcgU3RhdGlvbiBSb2FkLCBLZWx0eSwgS1k0IDBCTCwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0xMjM1MzIzMX5kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0aWQ9YmY0NjM5NzItNmM2Yi00OGRiLTg0MTYtYzg5OGQ3YjA5MjFifnFsPTI0fmdlbz0w
                  attributes:
                    gbr_government:
                    - eer_code
                    - eer_code_pre_2011
                    - eer_name
                    - gor_code
                    - gor_code_pre_2011
                    - gor_name
                    - la_code
                    - la_code_pre_2011
                    - la_name
                    - lea_code
                    - lea_name
                    - ward_code
                    - ward_code_pre_2011
                    - ward_name
                    - cens_out_area
              GBR - Health:
                value:
                  country_iso: GBR
                  keys:
                    global_address_key: aWQ9NzcgU3RhdGlvbiBSb2FkLCBLZWx0eSwgS1k0IDBCTCwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0xMjM1MzIzMX5kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0aWQ9YmY0NjM5NzItNmM2Yi00OGRiLTg0MTYtYzg5OGQ3YjA5MjFifnFsPTI0fmdlbz0w
                  attributes:
                    gbr_health:
                    - authority_code
                    - authority_code_2011
                    - authority_name
                    - pclh_code
                    - pclh_code_2011
                    - pclh_name
                    - ward_code
                    - ward_code_2011
                    - ward_name
                    - ccg_code
                    - ccg_name
                    - doh_code
              GBR - Location Essential/Complete:
                value:
                  country_iso: GBR
                  keys:
                    global_address_key: aWQ9RXhwZXJpYW4gRGF0YSBRdWFsaXR5LCBGcmlhcnMgSG91c2UsIDE2MCBCbGFja2ZyaWFycyBSb2FkLCBMb25kb24sIFNFMSAuLi4sIFVuaXRlZCBLaW5nZG9tfmFsdF9rZXk9NTUyNDQyNTZ-ZGF0YXNldD1HQlJfUEFGfmZvcm1hdF9rZXk9R0JSJCQ5NzE4YzMyYS1iNmQzLTQ0NTgtOWQ1OS1hNWIzOTMyYjQzOTEkJCQ
                  attributes:
                    uk_location_complete:
                    - latitude
                    - longitude
                    - match_level
                    - udprn
                    - uprn
                    - x_coordinate
                    - y_coordinate
              GBR - what3words:
                value:
                  country_iso: GBR
                  keys:
                    global_address_key: aWQ9VW5pdmVyc2l0eSBPZiBPeGZvcmQsIEJvdGFuaWMgR2FyZGVucywgSGlnaCBTdHJlZXQsIE94Zm9yZCwgT1gxIDRBWiwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0xODA0NjE1Mn5kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyRmY2U4YTQzMC0wZjMzLTQxZWYtOTRmNy05ZWVjOGJhOWU0NzYkJCR-dzN3PXByZXR0eS5uZWVkZWQuY2hpbGw
                  attributes:
                    what3words:
                    - latitude
                    - longitude
                    - name
                    - description
              NZL - Geocodes:
                value:
                  country_iso: NZL
                  keys:
                    global_address_key: aWQ9TGV2ZWwgOCBETEEgUGhpbGxpcHMgRm94IFRvd2VyIFRvd2VyIDEsIDIwNSBRdWVlbiBTdHJlZXQsIEF1Y2tsYW5kIENlbnRyYWwsIEF1Y2tsYW5kIDEwMTAsIE5ldyBaZWFsYW5kfmFsdF9rZXk9fmRhdGFzZXQ9TlpMX1BBRn5mb3JtYXRfa2V5PU5aTCQkNzYyTlpMLU5PTlpMSHd6a0J3QUFBQUFJQWdFQUFBQndlSTBBQWhBQVlBQUFBQUFCQUV4bGRtVnNJRGdnUkV4QklGQm9hV3hzYVhCeklFWnZlQ0JVYjNkbGNnQUFBUC4uU0FBQUFBRC4uLi4uQUFBQUFBQUFBQUFBQUFBQUFBQUFUR1YyWld3Z09DQkVURUVnVUdocGJHeHBjSE1nUm05NElGUnZkMlZ5SUZSdmQyVnlJREVzSURJd05TQlJkV1ZsYmlCVGRISmxaWFFzSUVGMVkydHNZVzVrSUVObGJuUnlZV3dzSUVGMVkydHNZVzVrSURFd01UQUFBQUFBQUEtLSQkJA
                  attributes:
                    nzl_regional_geocodes:
                    - addressable
                    - centroid_of_property_latitude
                    - centroid_of_property_longitude
                    - centroid_of_property_nztm_x_coordinate
                    - centroid_of_property_nztm_y_coordinate
                    - front_of_property_latitude
                    - front_of_property_longitude
                    - front_of_property_nztm_x_coordinate
                    - front_of_property_nztm_y_coordinate
                    - general_electorate_code
                    - general_electorate_name
                    - linz_parcel_id
                    - maori_electorate_code
                    - maori_electorate_name
                    - match_level
                    - mesh_block_code
                    - property_purpose_type
                    - regional_council_code
                    - regional_council_name
                    - territorial_authority_code
                    - territorial_authority_name
              USA - Geocodes:
                value:
                  country_iso: USA
                  keys:
                    global_address_key: aWQ9VXJiIExhIFBsYXRhLDEgQ2FsbGUgMSxDb21lcmlvLFBSLDAwNzgyLTI3MTd+YWx0X2tleT1VcmIgTGEgUGxhdGF8MSBDYWxsZSAxfHxDb21lcmlvLFBSLDAwNzgyLTI3MTd+Zm9ybWF0SWQ9YTM5NjU1ODctYmIyNS00NmFkLTlkNmMtY2E4MDQ4YmQ0NGY2flFMPTl+Z2VvPTA=
                  attributes:
                    usa_regional_geocodes:
                    - latitude
                    - longitude
                    - match_level
                    - census_tract
                    - census_block
                    - core_based_statistical_area
                    - congressional_district_code
                    - county_code
          application/xml:
            schema:
              $ref: '#/components/schemas/EnrichmentV2Request'
            examples:
              GLO - Global Geocodes:
                value: "<request xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n  <country_iso>USA</country_iso>\n  <keys>\n    <global_address_key>aWQ9NDc1IEFudG9uIEJsdmQsIENvc3RhIE1lc2EgQ0EgOTI2MjYsIFVuaXRlZCBTdGF0ZXMgT2YgQW1lcmljYX5hbHRfa2V5PXw0NzUgQW50b24gQmx2ZHx8Q29zdGEgTWVzYSxDQSw5MjYyNi03MDM3fmRhdGFzZXQ9VVNBX1BBRn5mb3JtYXRpZD02YzJkN2RkNC05YzEzLTQ3YWUtYWZiYi0yZWMyYjEyNGE2NDVfVTQwXzI0XzBfMF8wPTQ3NX5xbD0yM35nZW89MA</global_address_key>\n  </keys>\n  <attributes>\n    <geocodes>\n      <geocodes_attribute>latitude</geocodes_attribute>\n      <geocodes_attribute>longitude</geocodes_attribute>\n      <geocodes_attribute>match_level</geocodes_attribute>\n    </geocodes>\n  </attributes>\n</request>"
              GLO - Premium Location Insight:
                value: "<request xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n  <country_iso>GBR</country_iso>\n  <keys>\n    <global_address_key>aWQ9MTAxIE1haW4gUm9hZCwgQ2xlZXZlLCBCcmlzdG9sLCBCUzQ5IDRQTiwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0wMzA3MTAyM35kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyRlZWZmZjgxOC1mOTJlLTRmNmQtYWU3ZC0wNGJiNjdlZmFhNDUkJCR-UUw9MjE</global_address_key>\n  </keys>\n  <attributes>\n    <premium_location_insight>\n      <premium_location_insight_attribute>geocodes</premium_location_insight_attribute>\n      <premium_location_insight_attribute>geocodes_building_xy</premium_location_insight_attribute>\n      <premium_location_insight_attribute>geocodes_access</premium_location_insight_attribute>\n      <premium_location_insight_attribute>time</premium_location_insight_attribute>\n    </premium_location_insight>\n  </attributes>\n</request>"
              GLO - Premium Location Insight Lite:
                value: "<request xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n  <country_iso>GBR</country_iso>\n  <keys>\n    <global_address_key>aWQ9MTAxIE1haW4gUm9hZCwgQ2xlZXZlLCBCcmlzdG9sLCBCUzQ5IDRQTiwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0wMzA3MTAyM35kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyRlZWZmZjgxOC1mOTJlLTRmNmQtYWU3ZC0wNGJiNjdlZmFhNDUkJCR-UUw9MjE</global_address_key>\n  </keys>\n  <attributes>\n    <premium_location_insight>\n      <premium_location_insight_attribute>geocodes</premium_location_insight_attribute>\n      <premium_location_insight_attribute>geocodes_building_xy</premium_location_insight_attribute>\n      <premium_location_insight_attribute>geocodes_access</premium_location_insight_attribute>\n    </premium_location_insight>\n  </attributes>\n</request>"
              AUS - Geocodes:
                value: "<request xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n  <country_iso>AUS</country_iso>\n  <keys>\n    <global_address_key>aWQ9OCBDb2NocmFuZSBTdHJlZXQsIFdFU1QgS0VNUFNFWSAgTlNXIDI0NDAsIEF1c3RyYWxpYX5hbHRfa2V5PUdBTlNXNzA2MjY4NjE5fmRhdGFzZXQ9QVVTX0dOQUZ-Zm9ybWF0X2tleT1BVVMkR05BRiQ3NjJBVUctbk9BVUdIQUxsQndBQUFBQUlBZ0VBQUFBQUZ6UXl3QUFBQUFBQUFEZ0FBUC4uWkFBQUFBRC4uLi4uQUFBQUFBQUFBQUFBQUFBQUFBQUFPQ0JEYjJOb2NtRnVaU0JUZEhKbFpYUXNJRmRGVTFRZ1MwVk5VRk5GV1NBZ1RsTlhJREkwTkRBQUFBQUFBQS0tJCQk</global_address_key>\n  </keys>\n  <attributes>\n    <aus_regional_geocodes>\n      <aus_regional_geocodes_attribute>latitude</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>longitude</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>match_level</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>sa1</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>meshblock</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>lga_code</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>lga_name</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>street_pid</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>locality_pid</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>geocode_level_code</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>geocode_level_description</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>geocode_type_code</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>geocode_type_description</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>highest_level_longitude</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>highest_level_latitude</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>highest_level_elevation</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>highest_level_planimetric_accuracy</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>highest_level_boundary_extent</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>highest_level_geocode_reliability_code</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>highest_level_geocode_reliability_description</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>confidence_level_code</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>confidence_level_description</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>2021_meshblock_id</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>2021_meshblock_code</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>2021_meshblock_match_code</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>2021_meshblock_match_description</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>2016_meshblock_id</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>2016_meshblock_code</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>2016_meshblock_match_code</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>2016_meshblock_match_description</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>address_type_code</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>primary_address_pid</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>address_join_type</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>collector_district_id</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>collector_district_code</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>commonwealth_electoral_boundary_id</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>commonwealth_electoral_boundary_name</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>statistical_local_area_id</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>statistical_local_area_code</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>statistical_local_area_name</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>state_electoral_boundary_id</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>state_electoral_boundary_name</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>state_electoral_effective_start</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>state_electoral_effective_end</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>state_electoral_new_pid</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>state_electoral_new_name</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>state_electoral_new_effective_start</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>state_electoral_new_effective_end</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>address_level_longitude</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>address_level_latitude</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>address_level_elevation</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>address_level_planimetric_accuracy</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>address_level_boundary_extent</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>address_level_geocode_reliability_code</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>address_level_geocode_reliability_description</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>street_level_longitude</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>street_level_latitude</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>street_level_planimetric_accuracy</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>street_level_boundary_extent</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>street_level_geocode_reliability_code</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>street_level_geocode_reliability_description</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>locality_level_longitude</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>locality_level_latitude</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>locality_level_planimetric_accuracy</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>locality_level_geocode_reliability_code</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>locality_level_geocode_reliability_description</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>gnaf_legal_parcel_identifier</aus_regional_geocodes_attribute>\n      <aus_regional_geocodes_attribute>locality_class_code</aus_regional_geocodes_attribute>\n    </aus_regional_geocodes>\n  </attributes>\n</request>"
              GBR - Government:
                value: "<request xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n  <country_iso>GBR</country_iso>\n  <keys>\n    <global_address_key>aWQ9NzcgU3RhdGlvbiBSb2FkLCBLZWx0eSwgS1k0IDBCTCwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0xMjM1MzIzMX5kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0aWQ9YmY0NjM5NzItNmM2Yi00OGRiLTg0MTYtYzg5OGQ3YjA5MjFifnFsPTI0fmdlbz0w</global_address_key>\n  </keys>\n  <attributes>\n    <gbr_government>\n      <gbr_government_attribute>eer_code</gbr_government_attribute>\n      <gbr_government_attribute>eer_code_pre_2011</gbr_government_attribute>\n      <gbr_government_attribute>eer_name</gbr_government_attribute>\n      <gbr_government_attribute>gor_code</gbr_government_attribute>\n      <gbr_government_attribute>gor_code_pre_2011</gbr_government_attribute>\n      <gbr_government_attribute>gor_name</gbr_government_attribute>\n      <gbr_government_attribute>la_code</gbr_government_attribute>\n      <gbr_government_attribute>la_code_pre_2011</gbr_government_attribute>\n      <gbr_government_attribute>la_name</gbr_government_attribute>\n      <gbr_government_attribute>lea_code</gbr_government_attribute>\n      <gbr_government_attribute>lea_name</gbr_government_attribute>\n      <gbr_government_attribute>ward_code</gbr_government_attribute>\n      <gbr_government_attribute>ward_code_pre_2011</gbr_government_attribute>\n      <gbr_government_attribute>ward_name</gbr_government_attribute>\n      <gbr_government_attribute>cens_out_area</gbr_government_attribute>\n    </gbr_government>\n  </attributes>\n</request>"
              GBR - Health:
                value: "<request xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n  <country_iso>GBR</country_iso>\n  <keys>\n    <global_address_key>aWQ9NzcgU3RhdGlvbiBSb2FkLCBLZWx0eSwgS1k0IDBCTCwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0xMjM1MzIzMX5kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0aWQ9YmY0NjM5NzItNmM2Yi00OGRiLTg0MTYtYzg5OGQ3YjA5MjFifnFsPTI0fmdlbz0w</global_address_key>\n  </keys>\n  <attributes>\n    <gbr_health>\n      <gbr_health_attribute>authority_code</gbr_health_attribute>\n      <gbr_health_attribute>authority_code_2011</gbr_health_attribute>\n      <gbr_health_attribute>authority_name</gbr_health_attribute>\n      <gbr_health_attribute>pclh_code</gbr_health_attribute>\n      <gbr_health_attribute>pclh_code_2011</gbr_health_attribute>\n      <gbr_health_attribute>pclh_name</gbr_health_attribute>\n      <gbr_health_attribute>ward_code</gbr_health_attribute>\n      <gbr_health_attribute>ward_code_2011</gbr_health_attribute>\n      <gbr_health_attribute>ward_name</gbr_health_attribute>\n      <gbr_health_attribute>ccg_code</gbr_health_attribute>\n      <gbr_health_attribute>ccg_name</gbr_health_attribute>\n      <gbr_health_attribute>doh_code</gbr_health_attribute>\n    </gbr_health>\n  </attributes>\n</request>"
              GBR - Location Essential/Complete:
                value: "<request xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n  <country_iso>GBR</country_iso>\n  <keys>\n    <global_address_key>aWQ9RXhwZXJpYW4gRGF0YSBRdWFsaXR5LCBGcmlhcnMgSG91c2UsIDE2MCBCbGFja2ZyaWFycyBSb2FkLCBMb25kb24sIFNFMSAuLi4sIFVuaXRlZCBLaW5nZG9tfmFsdF9rZXk9NTUyNDQyNTZ-ZGF0YXNldD1HQlJfUEFGfmZvcm1hdF9rZXk9R0JSJCQ5NzE4YzMyYS1iNmQzLTQ0NTgtOWQ1OS1hNWIzOTMyYjQzOTEkJCQ</global_address_key>\n  </keys>\n  <attributes>\n    <uk_location_complete>\n      <uk_location_complete_attribute>latitude</uk_location_complete_attribute>\n      <uk_location_complete_attribute>longitude</uk_location_complete_attribute>\n      <uk_location_complete_attribute>match_level</uk_location_complete_attribute>\n      <uk_location_complete_attribute>udprn</uk_location_complete_attribute>\n      <uk_location_complete_attribute>uprn</uk_location_complete_attribute>\n      <uk_location_complete_attribute>x_coordinate</uk_location_complete_attribute>\n      <uk_location_complete_attribute>y_coordinate</uk_location_complete_attribute>\n    </uk_location_complete>\n  </attributes>\n</request>"
              GBR - what3words:
                value: "<request xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n  <country_iso>GBR</country_iso>\n  <keys>\n    <global_address_key>aWQ9VW5pdmVyc2l0eSBPZiBPeGZvcmQsIEJvdGFuaWMgR2FyZGVucywgSGlnaCBTdHJlZXQsIE94Zm9yZCwgT1gxIDRBWiwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0xODA0NjE1Mn5kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyRmY2U4YTQzMC0wZjMzLTQxZWYtOTRmNy05ZWVjOGJhOWU0NzYkJCR-dzN3PXByZXR0eS5uZWVkZWQuY2hpbGw</global_address_key>\n  </keys>\n  <attributes>\n    <what3words>\n      <what3words_attribute>latitude</what3words_attribute>\n      <what3words_attribute>longitude</what3words_attribute>\n      <what3words_attribute>name</what3words_attribute>\n      <what3words_attribute>description</what3words_attribute>\n    </what3words>\n  </attributes>\n</request>"
              NZL - Geocodes:
                value: "<request xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n  <country_iso>NZL</country_iso>\n  <keys>\n    <global_address_key>aWQ9TGV2ZWwgOCBETEEgUGhpbGxpcHMgRm94IFRvd2VyIFRvd2VyIDEsIDIwNSBRdWVlbiBTdHJlZXQsIEF1Y2tsYW5kIENlbnRyYWwsIEF1Y2tsYW5kIDEwMTAsIE5ldyBaZWFsYW5kfmFsdF9rZXk9fmRhdGFzZXQ9TlpMX1BBRn5mb3JtYXRfa2V5PU5aTCQkNzYyTlpMLU5PTlpMSHd6a0J3QUFBQUFJQWdFQUFBQndlSTBBQWhBQVlBQUFBQUFCQUV4bGRtVnNJRGdnUkV4QklGQm9hV3hzYVhCeklFWnZlQ0JVYjNkbGNnQUFBUC4uU0FBQUFBRC4uLi4uQUFBQUFBQUFBQUFBQUFBQUFBQUFUR1YyWld3Z09DQkVURUVnVUdocGJHeHBjSE1nUm05NElGUnZkMlZ5SUZSdmQyVnlJREVzSURJd05TQlJkV1ZsYmlCVGRISmxaWFFzSUVGMVkydHNZVzVrSUVObGJuUnlZV3dzSUVGMVkydHNZVzVrSURFd01UQUFBQUFBQUEtLSQkJA</global_address_key>\n  </keys>\n  <attributes>\n    <nzl_regional_geocodes>\n      <nzl_regional_geocodes_attribute>addressable</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>centroid_of_property_latitude</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>centroid_of_property_longitude</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>centroid_of_property_nztm_x_coordinate</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>centroid_of_property_nztm_y_coordinate</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>front_of_property_latitude</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>front_of_property_longitude</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>front_of_property_nztm_x_coordinate</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>front_of_property_nztm_y_coordinate</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>general_electorate_code</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>general_electorate_name</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>linz_parcel_id</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>maori_electorate_code</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>maori_electorate_name</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>match_level</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>mesh_block_code</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>property_purpose_type</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>regional_council_code</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>regional_council_name</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>territorial_authority_code</nzl_regional_geocodes_attribute>\n      <nzl_regional_geocodes_attribute>territorial_authority_name</nzl_regional_geocodes_attribute>\n    </nzl_regional_geocodes>\n  </attributes>\n</request>"
              USA - Geocodes:
                value: "<request xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n  <country_iso>USA</country_iso>\n  <keys>\n    <global_address_key>aWQ9VXJiIExhIFBsYXRhLDEgQ2FsbGUgMSxDb21lcmlvLFBSLDAwNzgyLTI3MTd+YWx0X2tleT1VcmIgTGEgUGxhdGF8MSBDYWxsZSAxfHxDb21lcmlvLFBSLDAwNzgyLTI3MTd+Zm9ybWF0SWQ9YTM5NjU1ODctYmIyNS00NmFkLTlkNmMtY2E4MDQ4YmQ0NGY2flFMPTl+Z2VvPTA=</global_address_key>\n  </keys>\n  <attributes>\n    <usa_regional_geocodes>\n      <usa_regional_geocodes_attribute>latitude</usa_regional_geocodes_attribute>\n      <usa_regional_geocodes_attribute>longitude</usa_regional_geocodes_attribute>\n      <usa_regional_geocodes_attribute>match_level</usa_regional_geocodes_attribute>\n      <usa_regional_geocodes_attribute>census_tract</usa_regional_geocodes_attribute>\n      <usa_regional_geocodes_attribute>census_block</usa_regional_geocodes_attribute>\n      <usa_regional_geocodes_attribute>core_based_statistical_area</usa_regional_geocodes_attribute>\n      <usa_regional_geocodes_attribute>congressional_district_code</usa_regional_geocodes_attribute>\n      <usa_regional_geocodes_attribute>county_code</usa_regional_geocodes_attribute>\n    </usa_regional_geocodes>\n  </attributes>\n</request>"
          application/x-msgpack:
            schema:
              $ref: '#/components/schemas/EnrichmentV2Request'
            examples:
              GLO - Global Geocodes:
                value:
                  country_iso: USA
                  keys:
                    global_address_key: aWQ9NDc1IEFudG9uIEJsdmQsIENvc3RhIE1lc2EgQ0EgOTI2MjYsIFVuaXRlZCBTdGF0ZXMgT2YgQW1lcmljYX5hbHRfa2V5PXw0NzUgQW50b24gQmx2ZHx8Q29zdGEgTWVzYSxDQSw5MjYyNi03MDM3fmRhdGFzZXQ9VVNBX1BBRn5mb3JtYXRpZD02YzJkN2RkNC05YzEzLTQ3YWUtYWZiYi0yZWMyYjEyNGE2NDVfVTQwXzI0XzBfMF8wPTQ3NX5xbD0yM35nZW89MA
                  attributes:
                    geocodes:
                    - latitude
                    - longitude
                    - match_level
              GLO - Premium Location Insight:
                value:
                  country_iso: GBR
                  keys:
                    global_address_key: aWQ9MTAxIE1haW4gUm9hZCwgQ2xlZXZlLCBCcmlzdG9sLCBCUzQ5IDRQTiwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0wMzA3MTAyM35kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyRlZWZmZjgxOC1mOTJlLTRmNmQtYWU3ZC0wNGJiNjdlZmFhNDUkJCR-UUw9MjE
                  attributes:
                    premium_location_insight:
                    - geocodes
                    - geocodes_building_xy
                    - geocodes_access
                    - time
              GLO - Premium Location Insight Lite:
                value:
                  country_iso: GBR
                  keys:
                    global_address_key: aWQ9MTAxIE1haW4gUm9hZCwgQ2xlZXZlLCBCcmlzdG9sLCBCUzQ5IDRQTiwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0wMzA3MTAyM35kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyRlZWZmZjgxOC1mOTJlLTRmNmQtYWU3ZC0wNGJiNjdlZmFhNDUkJCR-UUw9MjE
                  attributes:
                    premium_location_insight:
                    - geocodes
                    - geocodes_building_xy
                    - geocodes_access
              AUS - Geocodes:
                value:
                  country_iso: AUS
                  keys:
                    global_address_key: aWQ9OCBDb2NocmFuZSBTdHJlZXQsIFdFU1QgS0VNUFNFWSAgTlNXIDI0NDAsIEF1c3RyYWxpYX5hbHRfa2V5PUdBTlNXNzA2MjY4NjE5fmRhdGFzZXQ9QVVTX0dOQUZ-Zm9ybWF0X2tleT1BVVMkR05BRiQ3NjJBVUctbk9BVUdIQUxsQndBQUFBQUlBZ0VBQUFBQUZ6UXl3QUFBQUFBQUFEZ0FBUC4uWkFBQUFBRC4uLi4uQUFBQUFBQUFBQUFBQUFBQUFBQUFPQ0JEYjJOb2NtRnVaU0JUZEhKbFpYUXNJRmRGVTFRZ1MwVk5VRk5GV1NBZ1RsTlhJREkwTkRBQUFBQUFBQS0tJCQk
                  attributes:
                    aus_regional_geocodes:
                    - latitude
                    - longitude
                    - match_level
                    - sa1
                    - meshblock
                    - lga_code
                    - lga_name
                    - street_pid
                    - locality_pid
                    - geocode_level_code
                    - geocode_level_description
                    - geocode_type_code
                    - geocode_type_description
                    - highest_level_longitude
                    - highest_level_latitude
                    - highest_level_elevation
                    - highest_level_planimetric_accuracy
                    - highest_level_boundary_extent
                    - highest_level_geocode_reliability_code
                    - highest_level_geocode_reliability_description
                    - confidence_level_code
                    - confidence_level_description
                    - 2021_meshblock_id
                    - 2021_meshblock_code
                    - 2021_meshblock_match_code
                    - 2021_meshblock_match_description
                    - 2016_meshblock_id
                    - 2016_meshblock_code
                    - 2016_meshblock_match_code
                    - 2016_meshblock_match_description
                    - address_type_code
                    - primary_address_pid
                    - address_join_type
                    - collector_district_id
                    - collector_district_code
                    - commonwealth_electoral_boundary_id
                    - commonwealth_electoral_boundary_name
                    - statistical_local_area_id
                    - statistical_local_area_code
                    - statistical_local_area_name
                    - state_electoral_boundary_id
                    - state_electoral_boundary_name
                    - state_electoral_effective_start
                    - state_electoral_effective_end
                    - state_electoral_new_pid
                    - state_electoral_new_name
                    - state_electoral_new_effective_start
                    - state_electoral_new_effective_end
                    - address_level_longitude
                    - address_level_latitude
                    - address_level_elevation
                    - address_level_planimetric_accuracy
                    - address_level_boundary_extent
                    - address_level_geocode_reliability_code
                    - address_level_geocode_reliability_description
                    - street_level_longitude
                    - street_level_latitude
                    - street_level_planimetric_accuracy
                    - street_level_boundary_extent
                    - street_level_geocode_reliability_code
                    - street_level_geocode_reliability_description
                    - locality_level_longitude
                    - locality_level_latitude
                    - locality_level_planimetric_accuracy
                    - locality_level_geocode_reliability_code
                    - locality_level_geocode_reliability_description
                    - gnaf_legal_parcel_identifier
                    - locality_class_code
              GBR - Government:
                value:
                  country_iso: GBR
                  keys:
                    global_address_key: aWQ9NzcgU3RhdGlvbiBSb2FkLCBLZWx0eSwgS1k0IDBCTCwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0xMjM1MzIzMX5kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0aWQ9YmY0NjM5NzItNmM2Yi00OGRiLTg0MTYtYzg5OGQ3YjA5MjFifnFsPTI0fmdlbz0w
                  attributes:
                    gbr_government:
                    - eer_code
                    - eer_code_pre_2011
                    - eer_name
                    - gor_code
                    - gor_code_pre_2011
                    - gor_name
                    - la_code
                    - la_code_pre_2011
                    - la_name
                    - lea_code
                    - lea_name
                    - ward_code
                    - ward_code_pre_2011
                    - ward_name
                    - cens_out_area
              GBR - Health:
                value:
                  country_iso: GBR
                  keys:
                    global_address_key: aWQ9NzcgU3RhdGlvbiBSb2FkLCBLZWx0eSwgS1k0IDBCTCwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0xMjM1MzIzMX5kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0aWQ9YmY0NjM5NzItNmM2Yi00OGRiLTg0MTYtYzg5OGQ3YjA5MjFifnFsPTI0fmdlbz0w
                  attributes:
                    gbr_health:
                    - authority_code
                    - authority_code_2011
                    - authority_name
                    - pclh_code
                    - pclh_code_2011
                    - pclh_name
                    - ward_code
                    - ward_code_2011
                    - ward_name
                    - ccg_code
                    - ccg_name
                    - doh_code
              GBR - Location Essential/Complete:
                value:
                  country_iso: GBR
                  keys:
                    global_address_key: aWQ9RXhwZXJpYW4gRGF0YSBRdWFsaXR5LCBGcmlhcnMgSG91c2UsIDE2MCBCbGFja2ZyaWFycyBSb2FkLCBMb25kb24sIFNFMSAuLi4sIFVuaXRlZCBLaW5nZG9tfmFsdF9rZXk9NTUyNDQyNTZ-ZGF0YXNldD1HQlJfUEFGfmZvcm1hdF9rZXk9R0JSJCQ5NzE4YzMyYS1iNmQzLTQ0NTgtOWQ1OS1hNWIzOTMyYjQzOTEkJCQ
                  attributes:
                    uk_location_complete:
                    - latitude
                    - longitude
                    - match_level
                    - udprn
                    - uprn
                    - x_coordinate
                    - y_coordinate
              GBR - what3words:
                value:
                  country_iso: GBR
                  keys:
                    global_address_key: aWQ9VW5pdmVyc2l0eSBPZiBPeGZvcmQsIEJvdGFuaWMgR2FyZGVucywgSGlnaCBTdHJlZXQsIE94Zm9yZCwgT1gxIDRBWiwgVW5pdGVkIEtpbmdkb21-YWx0X2tleT0xODA0NjE1Mn5kYXRhc2V0PUdCUl9QQUZ-Zm9ybWF0X2tleT1HQlIkZ2ItYWRkcmVzcyRmY2U4YTQzMC0wZjMzLTQxZWYtOTRmNy05ZWVjOGJhOWU0NzYkJCR-dzN3PXByZXR0eS5uZWVkZWQuY2hpbGw
                  attributes:
                    what3words:
                    - latitude
                    - longitude
                    - name
                    - description
              NZL - Geocodes:
                value:
                  country_iso: NZL
                  keys:
                    global_address_key: aWQ9TGV2ZWwgOCBETEEgUGhpbGxpcHMgRm94IFRvd2VyIFRvd2VyIDEsIDIwNSBRdWVlbiBTdHJlZXQsIEF1Y2tsYW5kIENlbnRyYWwsIEF1Y2tsYW5kIDEwMTAsIE5ldyBaZWFsYW5kfmFsdF9rZXk9fmRhdGFzZXQ9TlpMX1BBRn5mb3JtYXRfa2V5PU5aTCQkNzYyTlpMLU5PTlpMSHd6a0J3QUFBQUFJQWdFQUFBQndlSTBBQWhBQVlBQUFBQUFCQUV4bGRtVnNJRGdnUkV4QklGQm9hV3hzYVhCeklFWnZlQ0JVYjNkbGNnQUFBUC4uU0FBQUFBRC4uLi4uQUFBQUFBQUFBQUFBQUFBQUFBQUFUR1YyWld3Z09DQkVURUVnVUdocGJHeHBjSE1nUm05NElGUnZkMlZ5SUZSdmQyVnlJREVzSURJd05TQlJkV1ZsYmlCVGRISmxaWFFzSUVGMVkydHNZVzVrSUVObGJuUnlZV3dzSUVGMVkydHNZVzVrSURFd01UQUFBQUFBQUEtLSQkJA
                  attributes:
                    nzl_regional_geocodes:
                    - addressable
                    - centroid_of_property_latitude
                    - centroid_of_property_longitude
                    - centroid_of_property_nztm_x_coordinate
                    - centroid_of_property_nztm_y_coordinate
                    - front_of_property_latitude
                    - front_of_property_longitude
                    - front_of_property_nztm_x_coordinate
                    - front_of_property_nztm_y_coordinate
                    - general_electorate_code
                    - general_electorate_name
                    - linz_parcel_id
                    - maori_electorate_code
                    - maori_electorate_name
                    - match_level
                    - mesh_block_code
                    - property_purpose_type
                    - regional_council_code
                    - regional_council_name
                    - territorial_authority_code
                    - territorial_authority_name
              USA - Geocodes:
                value:
                  country_iso: USA
                  keys:
                    global_address_key: aWQ9VXJiIExhIFBsYXRhLDEgQ2FsbGUgMSxDb21lcmlvLFBSLDAwNzgyLTI3MTd+YWx0X2tleT1VcmIgTGEgUGxhdGF8MSBDYWxsZSAxfHxDb21lcmlvLFBSLDAwNzgyLTI3MTd+Zm9ybWF0SWQ9YTM5NjU1ODctYmIyNS00NmFkLTlkNmMtY2E4MDQ4YmQ0NGY2flFMPTl+Z2VvPTA=
                  attributes:
                    usa_regional_geocodes:
                    - latitude
                    - longitude
                    - match_level
                    - census_tract
                    - census_block
                    - core_based_statistical_area
                    - congressional_district_code
                    - county_code
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichmentV2Response'
              examples:
                GLO - Global Geocodes:
                  value:
                    transaction_id: 00000000-0000-0000-0000-000000000000
                    result:
                      geocodes:
                        latitude: 33.68945
                        longitude: -117.87401
                        match_level: building
                    metadata:
                      code: S200
                      message: Success
                      detail: All requested attribute(s) retrieved.
                      datasets:
                        geocodes:
                          latitude:
                            code: S200
                            message: Match
                            value: '33.68945'
                          longitude:
                            code: S200
                            message: Match
                            value: '-117.87401'
                          match_level:
                            code: S200
                            message: Match
                            value: building
                GLO - Premium Location Insight:
                  value:
                    transaction_id: 00000000-0000-0000-0000-000000000000
                    result:
                      premium_location_insight:
                        geocodes:
                          latitude: 54.6020056
                          longitude: -5.8302126
                          match_level: building
                        geocodes_building_xy:
                          x_coordinate: 152718.84
                          y_coordinate: 529726.57
                        geocodes_access:
                        - latitude: 54.6020056
                          longitude: -5.8302126
                        time:
                        - time_zone_id: Europe/London
                          generic: United Kingdom Time
                          standard: Greenwich Mean Time
                          daylight: British Summer Time
                          reference_time:
                            tag: BST
                            standard_offset: 00:00:00
                            daylight_savings: 01:00:00
                            sunrise: '2023-04-11T05:32:15.2599306+00:00'
                            sunset: '2023-04-11T19:16:52.0569033+00:00'
                          time_transition:
                          - tag: BST
                            standard_offset: 00:00:00
                            daylight_savings: 01:00:00
                            utc_start: '2023-03-26T01:00:00Z'
                            utc_end: '2023-10-29T01:00:00Z'
                          - tag: GMT
                            standard_offset: 00:00:00
                            daylight_savings: 00:00:00
                            utc_start: '2023-10-29T01:00:00Z'
                            utc_end: '2024-03-31T01:00:00Z'
                          - tag: BST
                            standard_offset: 00:00:00
                            daylight_savings: 01:00:00
                            utc_start: '2024-03-31T01:00:00Z'
                            utc_end: '2024-10-27T01:00:00Z'
                    metadata:
                      code: S200
                      message: Success
                      detail: All requested attribute(s) retrieved.
                      datasets:
                        premium_location_insight:
                          geocodes:
                            code: S200
                            message: Match
                            value: '[complex type]'
                          geocodes_building_xy:
                            code: S200
                            message: Match
                            value: '[complex type]'
                          geocodes_access:
                            code: S200
                            message: Match
                            value: '[complex type]'
                          time:
                            code: S200
                            message: Match
                            value: '[complex type]'
                GLO - Premium Location Insight Lite:
                  value:
                    transaction_id: 00000000-0000-0000-0000-000000000000
                    result:
                      premium_location_insight:
                        geocodes:
                          latitude: 54.6020056
                          longitude: -5.8302126
                          match_level: building
                        geocodes_building_xy:
                          x_coordinate: 152718.84
                          y_coordinate: 529726.57
                        geocodes_access:
                        - latitude: 54.6020056
                          longitude: -5.8302126
                    metadata:
                      code: S200
                      message: Success
                      detail: All requested attribute(s) retrieved.
                      datasets:
                        premium_location_insight:
                          geocodes:
                            code: S200
                            message: Match
                            value: '[complex type]'
                          geocodes_building_xy:
                            code: S200
                            message: Match
                            value: '[complex type]'
                          geocodes_access:
                            code: S200
                            message: Match
                            value: '[complex type]'
                AUS - Geocodes:
                  value:
                    transaction_id: 00000000-0000-0000-0000-000000000000
                    result:
                      aus_regional_geocodes:
                        latitude: -31.06740552
                        longitude: 152.83315122
                        match_level: building
                        sa1: '1115514'
                        meshblock: '10402970000'
                        lga_code: '14350'
                        lga_name: Kempsey (A)
                        street_pid: NSW2838126
                        locality_pid: NSW4281
                        geocode_level_code: '7'
                        geocode_level_description: Locality, street and parcel level geocodes
                        geocode_type_code: PC
                        geocode_type_description: Property centroid
                        highest_level_longitude: 152.833151218104
                        highest_level_latitude: -31.0674055233909
                        highest_level_geocode_reliability_code: '2'
                        highest_level_geocode_reliability_description: Geocode accuracy sufficient to place centroid within address site boundary
                        confidence_level_code: '2'
                        confidence_level_description: All three contributors have supplied an identical address
                        2021_meshblock_id: MB2110402970000
                        2021_meshblock_code: '10402970000'
                        2021_meshblock_match_code: '1'
                        2021_meshblock_match_description: Parcel level match
                        2016_meshblock_id: MB1610402970000
                        2016_meshblock_code: '10402970000'
                        2016_meshblock_match_code: '1'
                        2016_meshblock_match_description: Parcel level match
                        collector_district_id: NSW1081403
                        collector_district_code: '1081403'
                        commonwealth_electoral_boundary_id: NSW32
                        commonwealth_electoral_boundary_name: COWPER
                        statistical_local_area_id: NSW125104350
                        statistical_local_area_code: '125104350'
                        statistical_local_area_name: KEMPSEY (A)
                        state_electoral_boundary_id: NSW231
                        state_electoral_boundary_name: OXLEY
                        state_electoral_effective_start: 24/03/2007 00:00:00
                        state_electoral_effective_end: 28/03/2015 00:00:00
                        state_electoral_new_pid: NSW242
                        state_electoral_new_name: OXLEY
                        state_electoral_new_effective_start: 28/03/2015 00:00:00
                        address_level_longitude: 152.833151218104
                        address_level_latitude: -31.0674055233909
                        address_level_geocode_reliability_code: '2'
                        address_level_geocode_reliability_description: Geocode accuracy sufficient to place centroid within address site boundary
                        street_level_longitude: 152.831107798991
                        street_level_latitude: -31.0627225231523
                        street_level_boundary_extent: '651'
                        street_level_geocode_reliability_code: '4'
                        street_level_geocode_reliability_description: Geocode accuracy sufficient to associate address site with a unique road feature
                        locality_level_longitude: 152.829982639523
                        locality_level_latitude: -31.0598233330185
                        locality_level_geocode_reliability_code: '5'
                        locality_level_geocode_reliability_description: Geocode accuracy sufficient to associate address site with a unique locality or neighbourhood
                        gnaf_legal_parcel_identifier: B/366584
                        locality_class_code: G
                    metadata:
                      code: S206
                      message: Success
                      detail: Some of the requested attribute(s) retrieved.
                      datasets:
                        aus_regional_geocodes:
                          latitude:
                            code: S200
                            message: Match
                            value: '-31.06740552'
                          longitude:
                            code: S200
                            message: Match
                            value: 152.83315122,
                          match_level:
                            code: S200
                            message: Match
                            value: building
                          sa1:
                            code: S200
                            message: Match
                            value: '1115514'
                          meshblock:
                            code: S200
                            message: Match
                            value: '10402970000'
                          lga_code:
                            code: S200
                            message: Match
                            value: '14350'
                          lga_name:
                            code: S200
                            message: Match
                            value: Kempsey (A)
                          street_pid:
                            code: S200
                            message: Match
                            value: NSW2838126
                          locality_pid:
                            code: S200
                            message: Match
                            value: NSW4281
                          geocode_level_code:
                            code: S200
                            message: Match
                            value: '7'
                          geocode_level_description:
                            code: S200
                            message: Match
                            value: Locality, street and parcel level geocodes
                          geocode_type_code:
                            code: S200
                            message: Match
                            value: PC
                          geocode_type_description:
                            code: S200
                            message: Match
                            value: Property centroid
                          highest_level_longitude:
                            code: S200
                            message: Match
                            value: '152.833151218104'
                          highest_level_latitude:
                            code: S200
                            message: Match
                            value: '-31.0674055233909'
                          highest_level_elevation:
                            code: E404
                            message: Not found
                            value: ''
                          highest_level_planimetric_accuracy:
                            code: E404
                            message: Not found
                            value: ''
                          highest_level_boundary_extent:
                            code: E404
                            message: Not found
                            value: ''
                          highest_level_geocode_reliability_code:
                            code: S200
                            message: Match
                            value: '2'
                          highest_level_geocode_reliability_description:
                            code: S200
                            message: Match
                            value: Geocode accuracy sufficient to place centroid within address site boundary
                          confidence_level_code:
                            code: S200
                            message: Match
                            value: '2'
                          confidence_level_description:
                            code: S200
                            message: Match
                            value: All three contributors have supplied an identical address
                          2021_meshblock_id:
                            code: S200
                            message: Match
                            value: MB2110402970000
                          2021_meshblock_code:
                            code: S200
                            message: Match
                            value: '10402970000'
                          2021_meshblock_match_code:
                            code: S200
                            message: Match
                            value: '1'
                          2021_meshblock_match_description:
                            code: S200
                            message: Match
                            value: Parcel level match
                          2016_meshblock_id:
                            code: S200
                            message: Match
                            value: MB1610402970000
                          2016_meshblock_code:
                            code: S200
                            message: Match
                            value: '10402970000'
                          2016_meshblock_match_code:
                            code: S200
                            message: Match
                            value: '1'
                          2016_meshblock_match_description:
                            code: S200
                            message: Match
                            value: Parcel level match
                          address_type_code:
                            code: E404
                            message: Not found
                            value: ''
                          primary_address_pid:
                            code: E404
                            message: Not found
                            value: ''
                          address_join_type:
                            code: E404
                            message: Not found
                            value: ''
                          collector_district_id:
                            code: S200
                            message: Match
                            value: NSW1081403
                          collector_district_code:
                            code: S200
                            message: Match
                            value: '1081403'
                          commonwealth_electoral_boundary_id:
                            code: S200
                            message: Match
                            value: NSW32
                          commonwealth_electoral_boundary_name:
                            code: S200
                            message: Match
                            value: COWPER
                          statistical_local_area_id:
                            code: S200
                            message: Match
                            value: NSW125104350
                          statistical_local_area_code:
                            code: S200
                            message: Match
                            value: '125104350'
                          statistical_local_area_name:
                            code: S200
                            message: Match
                            value: KEMPSEY (A)
                          state_electoral_boundary_id:
                            code: S200
                            message: Match
                            value: NSW231
                          state_electoral_boundary_name:
                            code: S200
                            message: Match
                            value: OXLEY
                          state_electoral_effective_start:
                            code: S200
                            message: Match
                            value: 24/03/2007 00:00:00
                          state_electoral_effective_end:
                            code: S200
                            message: Match
                            value: 28/03/2015 00:00:00
                          state_electoral_new_pid:
                            code: S200
                            message: Match
                            value: NSW242
                          state_electoral_new_name:
                            code: S200
                            message: Match
                            value: OXLEY
                          state_electoral_new_effective_start:
                            code: S200
                            message: Match
                            value: 28/03/2015 00:00:00
                          state_electoral_new_effective_end:
                            code: E404
                            message: Not found
                            value: ''
                          address_level_longitude:
                            code: S200
                            message: Match
                            value: '152.833151218104'
                          address_level_latitude:
                            code: S200
                            message: Match
                            value: '-31.0674055233909'
                          address_level_elevation:
                            code: E404
                            message: Not found
                            value: ''
                          address_level_planimetric_accuracy:
                            code: E404
                            message: Not found
                            value: ''
                          address_level_boundary_extent:
                            code: E404
                            message: Not found
                            value: ''
                          address_level_geocode_reliability_code:
                            code: S200
                            message: Match
                            value: '2'
                          address_level_geocode_reliability_description:
                            code: S200
                            message: Match
                            value: Geocode accuracy sufficient to place centroid within address site boundary
                          street_level_longitude:
                            code: S200
                            message: Match
                            value: '152.831107798991'
                          street_level_latitude:
                            code: S200
                            message: Match
                            value: '-31.0627225231523'
                          street_level_planimetric_accuracy:
                            code: E404
                            message: Not found
                            value: ''
                          street_level_boundary_extent:
                            code: S200
                            message: Match
                            value: '651'
                          street_level_geocode_reliability_code:
                            code: S200
                            message: Match
                            value: '4'
                          street_level_geocode_reliability_description:
                            code: S200
                            message: Match
                            value: Geocode accuracy sufficient to associate address site with a unique road feature
                          locality_level_longitude:
                            code: S200
                            message: Match
                            value: '152.829982639523'
                          locality_level_latitude:
                            code: S200
                            message: Match
                            value: '-31.0598233330185'
                          locality_level_planimetric_accuracy:
                            code: E404
                            message: Not found
                            value: ''
                          locality_level_geocode_reliability_code:
                            code: S200
                            message: Match
                            value: '5'
                          locality_level_geocode_reliability_description:
                            code: S200
                            message: Match
                            value: Geocode accuracy sufficient to associate address site with a unique locality or neighbourhood
                          gnaf_legal_parcel_identifier:
                            code: S200
                            message: Match
                            value: B/366584
                          locality_class_code:
                            code: S200
                            message: Match
                            value: G
                GBR - Government:
                  value:
                    transaction_id: 00000000-0000-0000-0000-000000000000
                    result:
                      gbr_government:
                        eer_code: S15000001
                        eer_code_pre_2011: '11'
                        eer_name: Scotland
                        gor_code: S99999999
                        gor_code_pre_2011: X
                        gor_name: Scotland (pseudo)
                        lea_code: QR
                        lea_name: Fife
                        la_code: S12000047
                        la_name: Fife
                        ward_code: S13003128
                        ward_name: Cowdenbeath
                        cens_out_area: S00110266
                    metadata:
                      code: S206
                      message: Success
                      detail: Some of the requested attribute(s) retrieved.
                      datasets:
                        gbr_government:
                          eer_code:
                            code: S200
                            message: Match
                            value: S15000001
                          eer_code_pre_2011:
                            code: S200
                            message: Match
                            value: '11'
                          eer_name:
                            code: S200
                            message: Match
                            value: Scotland
                          gor_code:
                            code: S200
                            message: Match
                            value: S99999999
                          gor_code_pre_2011:
                            code: S200
                            message: Match
                            value: X
                          gor_name:
                            code: S200
                            message: Match
                            value: Scotland (pseudo)
                          lea_code:
                            code: S200
                            message: Match
                            value: QR
                          lea_name:
                            code: S200
                            message: Match
                            value: Fife
                          la_code:
                            code: S200
                            message: Match
                            value: S12000047
                          la_code_pre_2011:
                            code: E404
                            message: Not found
                            value: ''
                          la_name:
                            code: S200
                            message: Match
                            value: Fife
                          ward_code:
                            code: S200
                            message: Match
                            value: S13003128
                          ward_code_pre_2011:
                            code: E404
                            message: Not found
                            value: ''
                          ward_name:
                            code: S200
                            message: Match
                            value: Cowdenbeath
                          cens_out_area:
                            code: S200
                            message: Match
                            value: S00110266
                GBR - Health:
                  value:
                    transaction_id: 00000000-0000-0000-0000-000000000000
                    result:
                      gbr_health:
                        authority_code_2011: S08000029
                        authority_name: Fife
                        pclh_code: '006'
                        pclh_code_2011: S03000006
                        pclh_name: Dunfermline and West Fife Community Health Partnership
                        ward_code_2011: S13003128
                        ward_name: Cowdenbeath
                        ccg_code: S03000006
                        ccg_name: Dunfermline and West Fife Community Health Partnership
                        doh_code: '006'
                    metadata:
                      code: S206
                      message: Success
                      detail: Some of the requested attribute(s) retrieved.
                      datasets:
                        gbr_health:
                          authority_code:
                            code: E404
                            message: Not found
                            value: ''
                          authority_code_2011:
                            code: S200
                            message: Match
                            value: S08000029
                          authority_name:
                            code: S200
                            message: Match
                            value: Fife
                          pclh_code:
                            code: S200
                            message: Match
                            value: '006'
                          pclh_code_2011:
                            code: S200
                            message: Match
                            value: S03000006
                          pclh_name:
                            code: S200
                            message: Match
                            value: Dunfermline and West Fife Community Health Partnership
                          ward_code:
                            code: E404
                            message: Not found
                            value: ''
                          ward_code_2011:
                            code: S200
                            message: Match
                            value: S13003128
                          ward_name:
                            code: S200
                            message: Match
                            value: Cowdenbeath
                          ccg_code:
                            code: S200
                            message: Match
                            value: S03000006
                          ccg_name:
                            code: S200
                            message: Match
                            value: Dunfermline and West Fife Community Health Partnership
                          doh_code:
                            code: S200
                            message: Match
                            value: '006'
                GBR - Location Essential/Complete:
                  value:
                    transaction_id: 00000000-0000-0000-0000-000000000000
                    result:
                      uk_location_complete:
                        latitude: 51.5014256
                        longitude: -0.104257
                        match_level: building
                        udprn: '55244256'
                        uprn: '10091977422'
                        x_coordinate: 531677.95
                        y_coordinate: 179757.59
                    metadata:
                      code: S200
                      message: Success
                      detail: All requested attribute(s) retrieved.
                      datasets:
                        uk_location_complete:
                          latitude:
                            code: S200
                            message: Match
                            value: '51.5014256'
                          longitude:
                            code: S200
                            message: Match
                            value: '-0.104257'
                          match_level:
                            code: S200
                            message: Match
                            value: building
                          udprn:
                            code: S200
                            message: Match
                            value: '55244256'
                          uprn:
                            code: S200
                            message: Match
                            value: '10091977422'
                          x_coordinate:
                            code: S200
                            message: Match
                            value: '531677.95'
                          y_coordinate:
                            code: S200
                            message: Match
                            value: '179757.59'
                GBR - what3words:
                  value:
                    transaction_id: 00000000-0000-0000-0000-000000000000
                    result:
                      what3words:
                        latitude: 51.751172
                        longitude: -1.24623
                        name: pretty.needed.chill
                        description: near Oxford, Oxfordshire
                    metadata:
                      code: S200
                      message: Success
                      detail: All requested attribute(s) retrieved.
                      datasets:
                        what3words:
                          latitude:
                            code: S200
                            message: Match
                            value: '51.751172'
                          longitude:
                            code: S200
                            message: Match
                            value: '-1.24623'
                          name:
                            code: S200
                            message: Match
                            value: pretty.needed.chill
                          description:
                            code: S200
                            message: Match
                            value: near Oxford, Oxfordshire
                NZL - Geocodes:
                  value:
                    transaction_id: 00000000-0000-0000-0000-000000000000
                    result:
                      nzl_regional_geocodes:
                        front_of_property_nztm_x_coordinate: 1757352.77679428
                        front_of_property_nztm_y_coordinate: 5920390.38954181
                        centroid_of_property_nztm_x_coordinate: 1757328.32545739
                        centroid_of_property_nztm_y_coordinate: 5920399.80535698
                        linz_parcel_id: '5047052'
                        property_purpose_type: Business
                        addressable: N
                        mesh_block_code: '434000'
                        territorial_authority_code: '76'
                        territorial_authority_name: Auckland
                        regional_council_code: '2'
                        regional_council_name: Auckland Region
                        general_electorate_code: '001'
                        general_electorate_name: Auckland Central
                        maori_electorate_code: '3'
                        maori_electorate_name: Tamaki Makaurau
                        front_of_property_latitude: -36.84930884682109
                        front_of_property_longitude: 174.76492824881467
                        centroid_of_property_latitude: -36.849228077790954
                        centroid_of_property_longitude: 174.76465216104987
                        match_level: building
                    metadata:
                      code: S200
                      message: Success
                      detail: All requested attribute(s) retrieved.
                      datasets:
                        nzl_regional_geocodes:
                          front_of_property_nztm_x_coordinate:
                            code: S200
                            message: Match
                            value: '1757352.77679428'
                          front_of_property_nztm_y_coordinate:
                            code: S200
                            message: Match
                            value: '5920390.38954181'
                          centroid_of_property_nztm_x_coordinate:
                            code: S200
                            message: Match
                            value: '1757328.32545739'
                          centroid_of_property_nztm_y_coordinate:
                            code: S200
                            message: Match
                            value: '5920399.80535698'
                          linz_parcel_id:
                            code: S200
                            message: Match
                            value: '5047052'
                          property_purpose_type:
                            code: S200
                            message: Match
                            value: Business
                          addressable:
                            code: S200
                            message: Match
                            value: N
                          mesh_block_code:
                            code: S200
                            message: Match
                            value: '434000'
                          territorial_authority_code:
                            code: S200
                            message: Match
                            value: '76'
                          territorial_authority_name:
                            code: S200
                            message: Match
                            value: Auckland
                          regional_council_code:
                            code: S200
                            message: Match
                            value: '2'
                          regional_council_name:
                            code: S200
                            message: Match
                            value: Auckland Region
                          general_electorate_code:
                            code: S200
                            message: Match
                            value: '001'
                          general_electorate_name:
                            code: S200
                            message: Match
                            value: Auckland Central
                          maori_electorate_code:
                            code: S200
                            message: Match
                            value: '3'
                          maori_electorate_name:
                            code: S200
                            message: Match
                            value: Tamaki Makaurau
                          front_of_property_latitude:
                            code: S200
                            message: Match
                            value: '-36.84930884682109'
                          front_of_property_longitude:
                            code: S200
                            message: Match
                            value: '174.76492824881467'
                          centroid_of_property_latitude:
                            code: S200
                            message: Match
                            value: '-36.849228077790954'
                          centroid_of_property_longitude:
                            code: S200
                            message: Match
                            value: '174.76465216104987'
                          match_level:
                            code: S200
                            message: Match
                            value: building
                USA - Geocodes:
                  value:
                    transaction_id: 00000000-0000-0000-0000-000000000000
                    result:
                      usa_regional_geocodes:
                        latitude: 18.215183
                        longitude: -66.226806
                        match_level: building
                        census_tract: '952000'
                        census_block: '2012'
                        core_based_statistical_area: '41980'
                        congressional_district_code: '7298116'
                        county_code: '045'
                    metadata:
                      code: S200
                      message: Success
                      detail: All requested attribute(s) retrieved.
                      datasets:
                        usa_regional_geocodes:
                          latitude:
                            code: S200
                            message: Match
                            value: '18.215183'
                          longitude:
                            code: S200
                            message: Match
                            value: '-66.226806'
                          match_level:
                            code: S200
                            message: Match
                            value: building
                          census_tract:
                            code: S200
                            message: Match
                            value: '952000'
                          census_block:
                            code: S200
                            message: Match
                            value: '2012'
                          core_based_statistical_area:
                            code: S200
                            message: Match
                            value: '41980'
                          congressional_district_code:
                            code: S200
                            message: Match
                            value: '7298116'
                          county_code:
                            code: S200
                            message: Match
                            value: '045'
            application/xml:
              schema:
                $ref: '#/components/schemas/EnrichmentV2Response'
              examples:
                GLO - Global Geocodes:
                  value: "<response xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n  <result>\n    <geocodes>\n      <latitude>33.68945</latitude>\n      <longitude>-117.87401</longitude>\n      <match_level>building</match_level>\n    </geocodes>\n  </result>\n  <metadata>\n    <code>S200</code>\n    <message>Success</message>\n    <detail>All requested attribute(s) retrieved.</detail>\n    <datasets>\n      <geocodes>\n        <latitude>\n          <code>S200</code>\n          <message>Match</message>\n          <value>33.68945</value>\n        </latitude>\n        <longitude>\n          <code>S200</code>\n          <message>Match</message>\n          <value>-117.87401</value>\n        </longitude>\n        <match_level>\n          <code>S200</code>\n          <message>Match</message>\n          <value>building</value>\n        </match_level>\n      </geocodes>\n    </datasets>\n  </metadata>\n  <transaction_id>00000000-0000-0000-0000-000000000000</transaction_id>\n</response>"
                GLO - Premium Location Insight:
                  value: "<response xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n  <result>\n    <premium_location_insight>\n      <geocodes>\n        <latitude>54.6020056</latitude>\n        <longitude>-5.8302126</longitude>\n        <match_level>building</match_level>\n      </geocodes>\n      <geocodes_building_xy>\n        <x_coordinate>152718.84</x_coordinate>\n        <y_coordinate>529726.57</y_coordinate>\n      </geocodes_building_xy>\n      <geocodes_access>\n        <geocodes_access_item>\n          <latitude>54.6020056</latitude>\n          <longitude>-5.8302126</longitude>\n        </geocodes_access_item>\n      </geocodes_access>\n      <time>\n        <time_item>\n          <time_zone_id>Europe/London</time_zone_id>\n          <generic>United Kingdom Time</generic>\n          <standard>Greenwich Mean Time</standard>\n          <daylight>British Summer Time</daylight>\n          <reference_time>\n            <tag>BST</tag>\n            <standard_offset>00:00:00</standard_offset>\n            <daylight_savings>01:00:00</daylight_savings>\n            <sunrise>2023-04-11T06:32:15.2599306+01:00</sunrise>\n            <sunset>2023-04-11T20:16:52.0569033+01:00</sunset>\n          </reference_time>\n          <time_transition>\n            <time_transition_item>\n              <tag>BST</tag>\n              <standard_offset>00:00:00</standard_offset>\n              <daylight_savings>01:00:00</daylight_savings>\n              <utc_start>2023-03-26T01:00:00Z</utc_start>\n              <utc_end>2023-10-29T01:00:00Z</utc_end>\n            </time_transition_item>\n            <time_transition_item>\n              <tag>GMT</tag>\n              <standard_offset>00:00:00</standard_offset>\n              <daylight_savings>00:00:00</daylight_savings>\n              <utc_start>2023-10-29T01:00:00Z</utc_start>\n              <utc_end>2024-03-31T01:00:00Z</utc_end>\n            </time_transition_item>\n            <time_transition_item>\n              <tag>BST</tag>\n              <standard_offset>00:00:00</standard_offset>\n              <daylight_savings>01:00:00</daylight_savings>\n              <utc_start>2024-03-31T01:00:00Z</utc_start>\n              <utc_end>2024-10-27T01:00:00Z</utc_end>\n            </time_transition_item>\n          </time_transition>\n        </time_item>\n      </time>\n    </premium_location_insight>\n  </result>\n  <metadata>\n    <code>S200</code>\n    <message>Success</message>\n    <detail>All requested attribute(s) retrieved.</detail>\n    <datasets>\n      <premium_location_insight>\n        <geocodes>\n          <code>S200</code>\n          <message>Match</message>\n          <value>[complex type]</value>\n        </geocodes>\n        <geocodes_building_xy>\n          <code>S200</code>\n          <message>Match</message>\n          <value>[complex type]</value>\n        </geocodes_building_xy>\n        <geocodes_access>\n          <code>S200</code>\n          <message>Match</message>\n          <value>[complex type]</value>\n        </geocodes_access>\n        <time>\n          <code>S200</code>\n          <message>Match</message>\n          <value>[complex type]</value>\n        </time>\n      </premium_location_insight>\n    </datasets>\n  </metadata>\n  <transaction_id>00000000-0000-0000-0000-000000000000</transaction_id>\n</response>"
                GLO - Premium Location Insight Lite:
                  value: "<response xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n  <result>\n    <premium_location_insight>\n      <geocodes>\n        <latitude>54.6020056</latitude>\n        <longitude>-5.8302126</longitude>\n        <match_level>building</match_level>\n      </geocodes>\n      <geocodes_building_xy>\n        <x_coordinate>152718.84</x_coordinate>\n        <y_coordinate>529726.57</y_coordinate>\n      </geocodes_building_xy>\n      <geocodes_access>\n        <geocodes_access_item>\n          <latitude>54.6020056</latitude>\n          <longitude>-5.8302126</longitude>\n        </geocodes_access_item>\n      </geocodes_access>\n    </premium_location_insight>\n  </result>\n  <metadata>\n    <code>S200</code>\n    <message>Success</message>\n    <detail>All requested attribute(s) retrieved.</detail>\n    <datasets>\n      <premium_location_insight>\n        <geocodes>\n          <code>S200</code>\n          <message>Match</message>\n          <value>[complex type]</value>\n        </geocodes>\n        <geocodes_building_xy>\n          <code>S200</code>\n          <message>Match</message>\n          <value>[complex type]</value>\n        </geocodes_building_xy>\n        <geocodes_access>\n          <code>S200</code>\n          <message>Match</message>\n          <value>[complex type]</value>\n        </geocodes_access>\n      </premium_location_insight>\n    </datasets>\n  </metadata>\n  <transaction_id>00000000-0000-0000-0000-000000000000</transaction_id>\n</response>"
                AUS - Geocodes:
                  value: "<response xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n  <result>\n    <aus_regional_geocodes>\n      <latitude>-31.06740552</latitude>\n      <longitude>152.83315122</longitude>\n      <match_level>building</match_level>\n      <sa1>1115514</sa1>\n      <meshblock>10402970000</meshblock>\n      <lga_code>14350</lga_code>\n      <lga_name>Kempsey (A)</lga_name>\n      <street_pid>NSW2838126</street_pid>\n      <locality_pid>NSW4281</locality_pid>\n      <geocode_level_code>7</geocode_level_code>\n      <geocode_level_description>Locality, street and parcel level geocodes</geocode_level_description>\n      <geocode_type_code>PC</geocode_type_code>\n      <geocode_type_description>Property centroid</geocode_type_description>\n      <highest_level_longitude>152.833151218104</highest_level_longitude>\n      <highest_level_latitude>-31.0674055233909</highest_level_latitude>\n      <highest_level_geocode_reliability_code>2</highest_level_geocode_reliability_code>\n      <highest_level_geocode_reliability_description>Geocode accuracy sufficient to place centroid within address site boundary</highest_level_geocode_reliability_description>\n      <confidence_level_code>2</confidence_level_code>\n      <confidence_level_description>All three contributors have supplied an identical address</confidence_level_description>\n      <_x0032_021_meshblock_id>MB2110402970000</_x0032_021_meshblock_id>\n      <_x0032_021_meshblock_code>10402970000</_x0032_021_meshblock_code>\n      <_x0032_021_meshblock_match_code>1</_x0032_021_meshblock_match_code>\n      <_x0032_021_meshblock_match_description>Parcel level match</_x0032_021_meshblock_match_description>\n      <_x0032_016_meshblock_id>MB1610402970000</_x0032_016_meshblock_id>\n      <_x0032_016_meshblock_code>10402970000</_x0032_016_meshblock_code>\n      <_x0032_016_meshblock_match_code>1</_x0032_016_meshblock_match_code>\n      <_x0032_016_meshblock_match_description>Parcel level match</_x0032_016_meshblock_match_description>\n      <collector_district_id>NSW1081403</collector_district_id>\n      <collector_district_code>1081403</collector_district_code>\n      <commonwealth_electoral_boundary_id>NSW32</commonwealth_electoral_boundary_id>\n      <commonwealth_electoral_boundary_name>COWPER</commonwealth_electoral_boundary_name>\n      <statistical_local_area_id>NSW125104350</statistical_local_area_id>\n      <statistical_local_area_code>125104350</statistical_local_area_code>\n      <statistical_local_area_name>KEMPSEY (A)</statistical_local_area_name>\n      <state_electoral_boundary_id>NSW231</state_electoral_boundary_id>\n      <state_electoral_boundary_name>OXLEY</state_electoral_boundary_name>\n      <state_electoral_effective_start>24/03/2007 00:00:00</state_electoral_effective_start>\n      <state_electoral_effective_end>28/03/2015 00:00:00</state_electoral_effective_end>\n      <state_electoral_new_pid>NSW242</state_electoral_new_pid>\n      <state_electoral_new_name>OXLEY</state_electoral_new_name>\n      <state_electoral_new_effective_start>28/03/2015 00:00:00</state_electoral_new_effective_start>\n      <address_level_longitude>152.833151218104</address_level_longitude>\n      <address_level_latitude>-31.0674055233909</address_level_latitude>\n      <address_level_geocode_reliability_code>2</address_level_geocode_reliability_code>\n      <address_level_geocode_reliability_description>Geocode accuracy sufficient to place centroid within address site boundary</address_level_geocode_reliability_description>\n      <street_level_longitude>152.831107798991</street_level_longitude>\n      <street_level_latitude>-31.0627225231523</street_level_latitude>\n      <street_level_boundary_extent>651</street_level_boundary_extent>\n      <street_level_geocode_reliability_code>4</street_level_geocode_reliability_code>\n      <street_level_geocode_reliability_description>Geocode accuracy sufficient to associate address site with a unique road feature</street_level_geocode_reliability_description>\n      <locality_level_longitude>152.829982639523</locality_level_longitude>\n      <locality_level_latitude>-31.0598233330185</locality_level_latitude>\n      <locality_level_geocode_reliability_code>5</locality_level_geocode_reliability_code>\n      <locality_level_geocode_reliability_description>Geocode accuracy sufficient to associate address site with a unique locality or neighbourhood</locality_level_geocode_reliability_description>\n      <gnaf_legal_parcel_identifier>B/366584</gnaf_legal_parcel_identifier>\n      <locality_class_code>G</locality_class_code>\n    </aus_regional_geocodes>\n  </result>\n  <metadata>\n    <code>S206</code>\n    <message>Success</message>\n    <detail>Some of the requested attribute(s) retrieved.</detail>\n    <datasets>\n      <aus_regional_geocodes>\n        <latitude>\n          <code>S200</code>\n          <message>Match</message>\n          <value>-31.06740552</value>\n        </latitude>\n        <longitude>\n          <code>S200</code>\n          <message>Match</message>\n          <value>152.83315122,</value>\n        </longitude>\n        <match_level>\n          <code>S200</code>\n          <message>Match</message>\n          <value>building</value>\n        </match_level>\n        <sa1>\n          <code>S200</code>\n          <message>Match</message>\n          <value>1115514</value>\n        </sa1>\n        <meshblock>\n          <code>S200</code>\n          <message>Match</message>\n          <value>10402970000</value>\n        </meshblock>\n        <lga_code>\n          <code>S200</code>\n          <message>Match</message>\n          <value>14350</value>\n        </lga_code>\n        <lga_name>\n          <code>S200</code>\n          <message>Match</message>\n          <value>Kempsey (A)</value>\n        </lga_name>\n        <street_pid>\n          <code>S200</code>\n          <message>Match</message>\n          <value>NSW2838126</value>\n        </street_pid>\n        <locality_pid>\n          <code>S200</code>\n          <message>Match</message>\n          <value>NSW4281</value>\n        </locality_pid>\n        <geocode_level_code>\n          <code>S200</code>\n          <message>Match</message>\n          <value>7</value>\n        </geocode_level_code>\n        <geocode_level_description>\n          <code>S200</code>\n          <message>Match</message>\n          <value>Locality, street and parcel level geocodes</value>\n        </geocode_level_description>\n        <geocode_type_code>\n          <code>S200</code>\n          <message>Match</message>\n          <value>PC</value>\n        </geocode_type_code>\n        <geocode_type_description>\n          <code>S200</code>\n          <message>Match</message>\n          <value>Property centroid</value>\n        </geocode_type_description>\n        <highest_level_longitude>\n          <code>S200</code>\n          <message>Match</message>\n          <value>152.833151218104</value>\n        </highest_level_longitude>\n        <highest_level_latitude>\n          <code>S200</code>\n          <message>Match</message>\n          <value>-31.0674055233909</value>\n        </highest_level_latitude>\n        <highest_level_elevation>\n          <code>E404</code>\n          <message>Not found</message>\n          <value />\n        </highest_level_elevation>\n        <highest_level_planimetric_accuracy>\n          <code>E404</code>\n          <message>Not found</message>\n          <value />\n        </highest_level_planimetric_accuracy>\n        <highest_level_boundary_extent>\n          <code>E404</code>\n          <message>Not found</message>\n          <value />\n        </highest_level_boundary_extent>\n        <highest_level_geocode_reliability_code>\n          <code>S200</code>\n          <message>Match</message>\n          <value>2</value>\n        </highest_level_geocode_reliability_code>\n        <highest_level_geocode_reliability_description>\n          <code>S200</code>\n          <message>Match</message>\n          <value>Geocode accuracy sufficient to place centroid within address site boundary</value>\n        </highest_level_geocode_reliability_description>\n        <confidence_level_code>\n          <code>S200</code>\n          <message>Match</message>\n          <value>2</value>\n        </confidence_level_code>\n        <confidence_level_description>\n          <code>S200</code>\n          <message>Match</message>\n          <value>All three contributors have supplied an identical address</value>\n        </confidence_level_description>\n        <_x0032_021_meshblock_id>\n          <code>S200</code>\n          <message>Match</message>\n          <value>MB2110402970000</value>\n        </_x0032_021_meshblock_id>\n        <_x0032_021_meshblock_code>\n          <code>S200</code>\n          <message>Match</message>\n          <value>10402970000</value>\n        </_x0032_021_meshblock_code>\n        <_x0032_021_meshblock_match_code>\n          <code>S200</code>\n          <message>Match</message>\n          <value>1</value>\n        </_x0032_021_meshblock_match_code>\n        <_x0032_021_meshblock_match_description>\n          <code>S200</code>\n          <message>Match</message>\n          <value>Parcel level match</value>\n        </_x0032_021_meshblock_match_description>\n        <_x0032_016_meshblock_id>\n          <code>S200</code>\n          <message>Match</message>\n          <value>MB1610402970000</value>\n        </_x0032_016_meshblock_id>\n        <_x0032_016_meshblock_code>\n          <code>S200</code>\n          <message>Match</message>\n          <value>10402970000</value>\n        </_x0032_016_meshblock_code>\n        <_x0032_01
[...]
